{% block pathway_container %}
<div class="container-fluid content-offset">
<div class="row">
    <div class="peak-flow-graph" ng-controller="PeakFlowCtrl" class="col-md-12">
      <div class="col-md-12" ng-if="peakFlowTrial.days.length > 3">
        <h4>
          <div class="row">
            <div class="col-md-12">
              <h3>
                [[ episode.demographics[0].first_name ]] [[ episode.demographics[0].surname ]]
                <small>[[ episode.demographics[0].hospital_number ]]</small>
                - Peak flow trial [[ peakFlowTrial.start_date | displayDate ]]
              </h3>
            </div>
          </div>
        </h4>
        {# use a table so printers understand #}
        <table class="content-offset-below-25 table">
          <tr>
            <td>
              <strong>
                Overall PF mean:
              </strong>
              &nbsp;
              [[ peakFlowTrial.overrall_mean ]]
              <span ng-show="peakFlowTrial.overrall_mean">litres/minute</span>
            </td>
            <td>
              <strong>
                Predicted PF:
              </strong>
              &nbsp;
              [[ peakFlowTrial.pef_mean ]]
              <span ng-show="peakFlowTrial.pef_mean">litres/minute</span>
            </td>
            <td>
              <strong>
                Completeness:
              </strong>
              &nbsp;
              [[ peakFlowTrial.completeness ]]
              <span ng-show="peakFlowTrial.completeness">%</span>
              <span ng-show="peakFlowTrial.days.length">
                  ([[ peakFlowTrial.complete_days]]/[[ peakFlowTrial.days.length ]] days)
              </span>
            </td>
          </tr>
        </table>
        <div peak-flow-graph data="peakFlowTrial" highlights="highlights[trialNum]"></div>
        <div ng-show="peakFlowTrial.notes.length" class="row content-offset-below">
          <div class="row">
            <div class="col-xs-1 text-right">
              <strong>Notes:</strong>
            </div>
            {# The markdown directive requires a field that is item[directive arg] #}
            <div ng-repeat="item in [peakFlowTrial]" class="col-xs-10">
              <div markdown="notes"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}