{% extends 'pathway/base/rbhl_page_pathway_base.html' %}
{% block pathway_body %}
{% for step in pathway.get_steps %}
<div ng-show="pathway.currentStep.display_name === '{{ step.get_display_name }}'"
  class="pathway-process-steps-padding">
  {% include step.get_base_template %}
</div>
{% endfor %}
{% endblock pathway_body %}


{% block pathway_footer %}
<div ng-hide="pathway.currentStep.scope.hideFooter" class="panel-footer">
  <div class="horizontal-form">
    <div class="row">
      <div class="col-md-10">
        {% include "pathway/partial/wizard_back_button.html" %}

        <div class="pull-right push-left-12">
          {% include "pathway/partial/wizard_next_button.html" %}
        </div>
        <div ng-show="pathway.steps[0].scope.state === 'has_demographics'" class="pull-right">
          <a href="" class="btn btn-lg btn-primary">
            View Patient
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %
