{% block pathway_container %}
<div class="container-fluid content-offset">
<div class="row">
    <div class="peak-flow-graph" ng-controller="PeakFlowCtrl" class="col-md-12">
      <div class="col-md-12" ng-if="graphDataByPeakFlowNum[trialNum].days.length > 3">
        <h4>
          <div class="row">
            <div class="col-md-12">
              <h3>
                [[ episode.demographics[0].first_name ]] [[ episode.demographics[0].surname ]]
                <small>[[ episode.demographics[0].hospital_number ]]</small>
                <span ng-show="trialNums.length > 1">- Peak flow trial [[ trialNum ]]</span>
              </h3>
            </div>
          </div>
        </h4>
        {# use a table so printers understand #}
        <table class="content-offset-below-25 table">
          <tr>
            <td>
              <strong>
                Start:
              </strong>
              [[ graphDataByPeakFlowNum[trialNum].days[0].date | displayDate ]]
            </td>
            <td>
              <strong>
                Overall PF mean:
              </strong>
              &nbsp;
              [[ graphDataByPeakFlowNum[trialNum].overrall_mean ]]
              <span ng-show="graphDataByPeakFlowNum[trialNum].overrall_mean">litres/minute</span>
            </td>
            <td>
              <strong>
                Predicted PEF:
              </strong>
              &nbsp;
              [[ graphDataByPeakFlowNum[trialNum].pef_mean ]]
              <span ng-show="graphDataByPeakFlowNum[trialNum].pef_mean">litres/minute</span>
            </td>
            <td>
              <strong>
                Completeness:
              </strong>
              &nbsp;
              [[ graphDataByPeakFlowNum[trialNum].completeness ]]
              <span ng-show="graphDataByPeakFlowNum[trialNum].completeness">%</span>
              <span ng-show="graphDataByPeakFlowNum[trialNum].days.length">
                  ([[ graphDataByPeakFlowNum[trialNum].complete_days]]/[[ graphDataByPeakFlowNum[trialNum].days.length ]] days)
              </span>
            </td>
          </tr>
        </table>
        <div peak-flow-graph data="graphDataByPeakFlowNum[trialNum]" highlights="highlights[trialNum]"></div>
        <div ng-show="graphDataByPeakFlowNum[trialNum].notes.length" class="row content-offset-below">
          <div class="col-md-12">
            <div class="col-md-1">
              <strong>Notes:</strong>
            </div>
            <div class="col-md-11">
              <div ng-mouseover="highlights[trialNum].day_num = note.day_num" ng-mouseout="highlights[trialNum].day_num = null"  ng-repeat="note in graphDataByPeakFlowNum[trialNum].notes" class="col-md-3 content-offset-below-25 text-left">
                Trial day [[ note.day_num ]] <span ng-show="note.date">([[ note.date | displayDate ]])</span> <br />[[ note.detail ]]
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}