# cryptography is required for heroku deployment
coverage==3.6
django==2.2.16
dj-database-url==0.2.1
gunicorn==19.5.0
psycopg2==2.8.6
dj-static==0.0.6
django-reversion==3.0.8
django-compressor==2.4
django-celery==3.2.2
celery==3.1.25
django_otp==0.5.1
django-two-factor-auth==1.12
django-formtools==2.1
flake8==3.8.4
boto3==1.9.178
opal==0.20.0
python-dateutil==2.8.1
holidays==0.10.5.2
