# cryptography is required for heroku deployment
coverage==3.6
django==2.2.16
dj-database-url==0.2.1
gunicorn==19.5.0
psycopg2==2.8.6
dj-static==0.0.6
django-reversion==3.0.8
django-compressor==2.4
django_otp==0.5.1
django-two-factor-auth==1.8.0
django-formtools==2.1
flake8==3.6.0
boto3==1.9.178
celery==5.0.2
django-celery-results==2.0.0


-e git+https://github.com/openhealthcare/opal@celery-upgrade#egg=opal
