<span ng-show="item.test_num">
    [[ item.test_num ]]
   <br />
</span>
<span ng-show="item.result">
    [[ item.result ]]
   <br />
</span>
<span ng-show="item.response_type">
    [[ item.response_type ]]
   <br />
</span>
<span ng-show="item.last_exposed">
    [[ item.last_exposed | displayDateTime ]]
   <br />
</span>
<span ng-show="item.duration_exposed">
    [[ item.duration_exposed ]]
   <br />
</span>
<span ng-show="item.date_of_challenge">
    [[ item.date_of_challenge | displayDateTime ]]
   <br />
</span>
<span ng-show="item.baseline_pc20">
    [[ item.baseline_pc20 ]]
   <br />
</span>
<span ng-show="item.lowest_pc20">
    [[ item.lowest_pc20 ]]
   <br />
</span>
<span ng-show="item.substance">
    [[ item.substance ]]
   <br />
</span>