{% load forms %}
{% load rbhl_panels %}
<div class="row">
  <div class="col-md-6">
    {% field_display "ClinicLog.clinic_date" label="First attended clinic" %}
    {% field_display "ClinicLog.seen_by" %}
  </div>
  <div class="col-md-6">
    {% field_display "ClinicLog.clinic_site" %}
    {% field_display "ClinicLog.cns" %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    {% field_display "ClinicLog.diagnosis_outcome" %}
    {% field_display "ClinicLog.referred_to" %}
  </div>
  <div class="col-md-6">
    {% field_display "ClinicLog.active" %}
    {% field_display "ClinicLog.sword" %}
  </div>
</div>

<hr />
<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5">
        <b>Peak flow requested</b>
      </div>
      <div class="col-md-7">
        <span ng-show='item.peak_flow_requested'>
          {% icon "fa-check" %}
          <span ng-show="episode.peak_flow_day.length">
            ( received )
          </span>
        </span>
      </div>
    </div>
    {% field_display "ClinicLog.external_spirometry_done" %}
  </div>
  <div class="col-md-6">
    {% field_display "ClinicLog.immunology_oem" %}
    {% field_display "ClinicLog.other_rbh_bloods" %}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    {% field_display "ClinicLog.outstanding_tests_required" %}
  </div>
</div>
