<div class="row">
  <div class="col-md-4">
    <b>Name</b>
  </div>
  <div class="col-md-8">
    [[ item.first_name ]]
    [[ item.surname ]]
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <b>Hospital #</b>
  </div>
  <div class="col-md-8">
    [[ item.hospital_number ]]
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <b>NHS #</b>
  </div>
  <div class="col-md-8">
    [[ item.nhs_number ]]
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <b>DOB</b>
  </div>
  <div class="col-md-8">
    [[ item.date_of_birth | shortDate ]]
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <b>Sex</b>
  </div>
  <div class="col-md-8">
    [[ item.sex ]]
  </div>
</div>
<div class="row" ng-show="item.post_code">
  <div class="col-md-4">
    <b>Post Code</b>
  </div>
  <div class="col-md-8">
    [[ item.post_code ]]
  </div>
</div>
