{% load rbhl_panels %}
{% with label_size=6 field_size=6 %}
  <div class="row">
    <div class="col-md-{{ label_size }}">
      <b>Name</b>
    </div>
    <div class="col-md-{{ field_size }}">
      [[ item.first_name ]]
      [[ item.surname ]]
    </div>
  </div>
  {% field_display "Demographics.hospital_number" label="Hospital #" %}
  {% field_display "Demographics.nhs_number" label="NHS #" %}
  <div class="row">
    <div class="col-md-{{ label_size }}">
      <b>DOB</b>
    </div>
    <div class="col-md-{{ field_size }}">
      [[ item.date_of_birth | displayDate ]]
      <span ng-show="item.date_of_birth">
        ([[ item.date_of_birth | age ]])
      </span>
    </div>
  </div>
  {% field_display "Demographics.sex" %}
  {% field_display "Demographics.height" %}
  {% field_display "Demographics.post_code" %}
{% endwith %}

