<span ng-show="item.asthma">
    asthma: [[ item.asthma ]]
   <br />
</span>
<span ng-show="item.exacerbated_by_work">
    exacerbated_by_work: [[ item.exacerbated_by_work ]]
   <br />
</span>
<span ng-show="item.irritant_induced_asthma">
   irritant_induced_asthma: [[ item.irritant_induced_asthma ]]
   <br />
</span>
<span ng-show="item.sensitisation">
    sensitisation: [[ item.sensitisation ]]
   <br />
</span>
<span ng-show="item.sensitising_agent">
    sensitising_agent: [[ item.sensitising_agent ]]
   <br />
</span>
<span ng-show="item.non_occupational_asthma">
    non_occupational_asthma: [[ item.non_occupational_asthma ]]
   <br />
</span>
