{% load rbhl_panels %}
<span ng-show="item.diagnosis_type === '{{ models.Diagnosis.ASTHMA }}'">
  {% field_display "Diagnosis.diagnosis_type" parenthesis_field="Diagnosis.asthma_options" %}
</span>
<span ng-show="item.diagnosis_type === '{{ models.Diagnosis.RHINITIS }}'">
  {% field_display "Diagnosis.diagnosis_type" parenthesis_field="Diagnosis.rhinitis_options" %}
</span>
<span ng-show="item.diagnosis_type === '{{ models.Diagnosis.NAD }}'">
  {% field_display "Diagnosis.diagnosis_type" %}
</span>
<span ng-show="item.diagnosis_type === '{{ models.Diagnosis.ASTHMA }}' || item.diagnosis_type === '{{ models.Diagnosis.RHINITIS }}'">
  {% field_display "Diagnosis.sensitivities" markdown=True %}
</span>
<span ng-show="item.diagnosis_type !== '{{ models.Diagnosis.NAD }}' && item.diagnosis_type !== '{{ models.Diagnosis.ASTHMA }}' && item.diagnosis_type !== '{{ models.Diagnosis.RHINITIS }}'">
  {% field_display "Diagnosis.diagnosis_type" %}
  <div class="row">
    <div class="col-md-6">
      Condition:
    </div>
    <div class="col-md-6">
      [[ item.condition ]] <span ng-show="item.occupational">(Occupational)</span>
    </div>
  </div>
</span>


