<span ng-show="item.asthma">
    [[ item.asthma ]]
   <br />
</span>
<span ng-show="item.exacerbated_by_work">
    [[ item.exacerbated_by_work ]]
   <br />
</span>
<span ng-show="item.irritant_induced_asthma">
    [[ item.irritant_induced_asthma ]]
   <br />
</span>
<span ng-show="item.sensitisation">
    [[ item.sensitisation ]]
   <br />
</span>
<span ng-show="item.sensitising_agent">
    [[ item.sensitising_agent ]]
   <br />
</span>
<span ng-show="item.non_occupational_asthma">
    [[ item.non_occupational_asthma ]]
   <br />
</span>