<span ng-show="item.asthma_occupational">
     Asthma occupational
   <br />
</span>
<span ng-show="item.asthma_exacerbated_by_work">
     Asthma exacerbated by work
   <br />
</span>
<span ng-show="item.asthma_irritant_induced">
     Asthma irritant induced
   <br />
</span>
<span ng-show="item.asthma_non_occupational">
     Asthma non occupational
   <br />
</span>
<span ng-show="item.asthma_other">
     Asthma other
   <br />
</span>
<span ng-show="item.rhinitis_occupational">
     Rhinitis occupational
   <br />
</span>
<span ng-show="item.rhinitis_exacerbated_by_work">
     Rhinitis exacerbated by work
   <br />
</span>
<span ng-show="item.rhinitis_non_occupational">
     Rhinitis non occupational
   <br />
</span>
<span ng-show="item.rhinitis_other">
     Rhinitis other
   <br />
</span>
<span ng-show="item.copd">
     Copd
   <br />
</span>
<span ng-show="item.emphysema">
     Emphysema
   <br />
</span>
<span ng-show="item.copd_occupational">
     Copd occupational
   <br />
</span>
<span ng-show="item.malignancy_occupational">
     Malignancy occupational
   <br />
</span>
<span ng-show="item.nad">
     NaD
   <br />
</span>
<span ng-show="item.other_diagnosis_occupational">
     Other diagnosis occupational
   <br />
</span>
<span ng-show="item.malignancy">
    [[ item.malignancy ]]
   <br />
</span>
<span ng-show="item.diffuse_lung_disease">
    [[ item.diffuse_lung_disease ]]
   <br />
</span>
<span ng-show="item.benign_pleural_disease">
    [[ item.benign_pleural_disease ]]
   <br />
</span>
<span ng-show="item.other_diagnosis">
    [[ item.other_diagnosis ]]
   <br />
</span>