{% load forms %}
{% load rbhl_panels %}
{% comment %}
The display is lined up to use full width columns with non singletons.
Use of a normal record panel would shift this panel's columns out of line so
instead we put in an edit button with padding.
{% endcomment %}
<div class="row">
  <div class="col-md-5">
      <b>Employer:</b>
  </div>
  <div class="col-md-7 edit-item-padding">
    [[ item.employer ]]
    <i class="fa fa-pencil edit pointer edit-item" ng-click="parent.recordEditor.editItem('employment', item)"></i>
  </div>
</div>

{% field_display "Employment.oh_provider" %}
{% field_display "Employment.job_title" %}
{% field_display "Employment.employment_category" %}
{% field_display "Employment.employed_in_suspect_occupation" %}
{% field_display "Employment.firefighter" %}
<div class="row">
  <div class="col-md-12">
    {% field_display "Employment.exposures" markdown=True %}
  </div>
</div>
