{% load rbhl_panels %}
<div class="row">
  <div class="col-md-3">
    <b>
      Other investigations:
    </b>
  </div>
  <div class="col-md-3">
    {% field_display "OtherInvestigations.ct_chest_scan"  %}
  </div>
  <div class="col-md-3">
    {% field_display "OtherInvestigations.ct_chest_scan_date"  %}
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-md-offset-3">
    {% field_display "OtherInvestigations.full_lung_function" %}
  </div>
  <div class="col-md-3">
    {% field_display "OtherInvestigations.full_lung_function_date" %}
  </div>
</div>
