{% load forms %}
<div ng-show="item.ct_chest_scan_date || item.ct_chest_scan" class="row test-row">
  <div class="col-md-6">
    CT scan:
  </div>
  <div class="col-md-6">
    {% icon "fa-check" %} [[ item.ct_chest_scan_date | displayDate ]]
  </div>
</div>
<div class="row test-row" ng-show="item.full_lung_function_date || item.full_lung_function">
  <div class="col-md-6">
    Full lung function:
  </div>
  <div class="col-md-6">
    {% icon "fa-check" %} [[ item.full_lung_function_date | displayDate ]]
  </div>
</div>



