{% load forms %}
<div class="row">
  <div class="col-md-4">
    <div style="margin-bottom: 10px" class="row">
      <div class="col-md-6">
        CT scan:
      </div>
      <div class="col-md-6">
        {% icon "fa-check" %} [[ item.ct_chest_scan_date | displayDate ]]</span>
      </div>
    </div>
  </div>

  <div class="col-md-4" >
    <div style="margin-bottom: 10px" class="row">
      <div class="col-md-6">
        Full lung function:
      </div>
      <div class="col-md-6">
        {% icon "fa-check" %} [[ item.full_lung_function_date | displayDate ]]</span>
      </div>
    </div>
  </div>
</div>

