<span ng-show="item.date">
    [[ item.date | shortDate ]]
   <br />
</span>
<span ng-show="item.treatment_taken">
    [[ item.treatment_taken ]]
   <br />
</span>
<span ng-show="item.note">
    [[ item.note ]]
   <br />
</span>
<span ng-show="item.work_start">
    [[ item.work_start | shortDateTime ]]
   <br />
</span>
<span ng-show="item.work_end">
    [[ item.work_end | shortDateTime ]]
   <br />
</span>
<span ng-show="item.flow_0600">
    [[ item.flow_0600 ]]
   <br />
</span>
<span ng-show="item.flow_0700">
    [[ item.flow_0700 ]]
   <br />
</span>
<span ng-show="item.flow_0800">
    [[ item.flow_0800 ]]
   <br />
</span>
<span ng-show="item.flow_0900">
    [[ item.flow_0900 ]]
   <br />
</span>
<span ng-show="item.flow_1000">
    [[ item.flow_1000 ]]
   <br />
</span>
<span ng-show="item.flow_1100">
    [[ item.flow_1100 ]]
   <br />
</span>
<span ng-show="item.flow_1200">
    [[ item.flow_1200 ]]
   <br />
</span>
<span ng-show="item.flow_1300">
    [[ item.flow_1300 ]]
   <br />
</span>
<span ng-show="item.flow_1400">
    [[ item.flow_1400 ]]
   <br />
</span>
<span ng-show="item.flow_1500">
    [[ item.flow_1500 ]]
   <br />
</span>
<span ng-show="item.flow_1600">
    [[ item.flow_1600 ]]
   <br />
</span>
<span ng-show="item.flow_1700">
    [[ item.flow_1700 ]]
   <br />
</span>
<span ng-show="item.flow_1800">
    [[ item.flow_1800 ]]
   <br />
</span>
<span ng-show="item.flow_1900">
    [[ item.flow_1900 ]]
   <br />
</span>
<span ng-show="item.flow_2000">
    [[ item.flow_2000 ]]
   <br />
</span>
<span ng-show="item.flow_2100">
    [[ item.flow_2100 ]]
   <br />
</span>
<span ng-show="item.flow_2200">
    [[ item.flow_2200 ]]
   <br />
</span>
<span ng-show="item.flow_2300">
    [[ item.flow_2300 ]]
   <br />
</span>
