{% load rbhl_panels %}
<div class="row content-offset-20">
  <div class="col-md-4">
    {% field_display "RbhlDiagnosticTesting.antihistimines" %}
  </div>
  <div class="col-md-4">
    {% field_display "RbhlDiagnosticTesting.skin_prick_test" %}
  </div>
  <div class="col-md-4">
    {% field_display "RbhlDiagnosticTesting.atopic" %}
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    {% field_display "RbhlDiagnosticTesting.immunology_oem" %}
  </div>
  <div class="col-md-4">
    {% field_display "RbhlDiagnosticTesting.specific_skin_prick" %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
    {% field_display field="RbhlDiagnosticTesting.fev_1" %}
  </div>
  <div class="col-md-4">
    {% field_display "RbhlDiagnosticTesting.fev_1_post_ventolin" %}
  </div>
  <div class="col-md-4">
    {% field_display "RbhlDiagnosticTesting.fev_1_percentage_protected" %}
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    {% field_display "RbhlDiagnosticTesting.fvc" %}
  </div>
  <div class="col-md-4">
    {% field_display "RbhlDiagnosticTesting.fvc_post_ventolin" %}
  </div>
  <div class="col-md-4">
    {% field_display "RbhlDiagnosticTesting.fvc_percentage_protected" %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
    {% field_display "RbhlDiagnosticTesting.ct_chest_scan" %}
  </div>
  <div class="col-md-4">
    {% field_display "RbhlDiagnosticTesting.ct_chest_scan_date" %}
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    {% field_display "RbhlDiagnosticTesting.full_lung_function_date" %}
  </div>
  <div class="col-md-4">
    {% field_display "RbhlDiagnosticTesting.full_lung_function_date" %}
  </div>
</div>
