<div class="row">
  <div class="col-md-6">
    <b>Referrer:</b>
  </div>
  <div class="col-md-6">
    [[ item.referrer_title ]]     [[ item.referrer_name ]]
  </div>
</div>
<div class="row" ng-show="item.date_of_referral">
  <div class="col-md-6">
    <b> Date of referral:</b>
  </div>
  <div class="col-md-6">
    [[ item.date_of_referral | displayDate ]]
  </div>
</div>
<div class="row" ng-show="item.date_refferal_received">
  <div class="col-md-6">
    <b>Referral received:</b>
  </div>
  <div class="col-md-6">
    [[ item.date_refferal_received | displayDate ]]
  </div>
</div>
<div class="row" ng-show="item.date_first_contact">
  <div class="col-md-6">
    <b>First contact:</b>
  </div>
  <div class="col-md-6">
    [[ item.date_first_contact | displayDate ]]
  </div>
</div>
<div class="row" ng-show="item.attendance">
  <div class="col-md-6">
    <b>Attendance:</b>
  </div>
  <div class="col-md-6">
    [[ item.attendance | boxed ]]
  </div>
</div>
<div class="row" ng-show="item.date_first_appointment">
  <div class="col-md-6">
    <b>First appointment:</b>
  </div>
  <div class="col-md-6">
    [[ item.date_first_appointment | displayDate ]]
  </div>
</div>
<div class="row" ng-show="item.firefighter">
  <div class="col-md-6">
    <b>Firefighter pre-employment:</b>
  </div>
  <div class="col-md-6">
    [[ item.firefighter | boxed ]]
  </div>
</div>


<span ng-show="item.comments">
  <h4>Comments</h4>
  <div markdown="comments"></div>
  <br />
</span>
