{% load rbhl_panels %}

<div class="row">
  <div class="col-md-6">
    {% field_display "Referral.date_of_referral" %}
  </div>
  {% comment %}
  The display is lined up to use full width columns with non singletons.
  Use of a normal record panel would shift this panel's columns out of line so
  instead we put in an edit button with padding.
  {% endcomment %}
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5">
        {% comment %}
        The field is Referrer name if there is a referrer name and it
        displays referrer name (reference number).

        If there is no referrer name but there is a reference number then it
        changes the name to reference number and displays the reference number
        {% endcomment %}
        <span ng-if="!item.referrer_name && item.reference_number">
          <b>Their reference number:</b>
        </span>
        <span ng-if="item.referrer_name || !item.reference_number">
          <b>Referrer name:</b>
        </span>
      </div>
      <div class="col-md-7 edit-item-padding">
        [[ item.referrer_name ]]
        <span ng-show="item.reference_number && item.referrer_name">([[ item.reference_number ]])</span>
        <span ng-show="!item.referrer_name">[[ item.reference_number ]]</span>
        <i class="fa fa-pencil edit pointer edit-item" ng-click="episode.recordEditor.editItem('referral', item)"></i>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    {% field_display "Referral.referral_source" %}
  </div>
  <div class="col-md-6">
    {% field_display "Referral.geographical_area" %}
  </div>
</div>
<div class="row content-offset-10">
  <div class="col-md-6">
    {% field_display "Referral.referral_reason" %}
  </div>
  <div class="col-md-6">
    {% field_display "Referral.referral_disease" %}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    {% field_display "Referral.date_referral_received" %}
  </div>
  <div class="col-md-6">
    {% field_display "Referral.date_first_appointment" %}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    {% field_display "Referral.attendance" %}
  </div>
  <div class="col-md-6">
    {% field_display "Referral.ocld" %}
  </div>
</div>
<span ng-show="item.comments">
  <div class="row content-offset-10">
    <div class="col-md-12">
      <strong>Comments:</strong>
      <div markdown="comments"></div>
    </div>
  </div>
</span>