{% load rbhl_panels %}
<div class="row test-row">
  <div ng-class="{'text-muted': item.neg_control === 0}" class="col-md-12">
    {% test_field "RoutineSPT.neg_control" unit="mm" %}
  </div>
</div>
<div class="row test-row">
  <div ng-class="{'text-muted': item.pos_control === 0}" class="col-md-12">
    {% test_field "RoutineSPT.pos_control" unit="mm" %}
  </div>
</div>
<div class="row test-row">
  <div ng-class="{'text-muted': item.asp_fumigatus === 0}" class="col-md-12">
    {% test_field "RoutineSPT.asp_fumigatus" unit="mm" %}
  </div>
</div>
<div class="row test-row">
  <div ng-class="{'text-muted': item.grass_pollen === 0}" class="col-md-12">
    {% test_field "RoutineSPT.grass_pollen" unit="mm" %}
  </div>
</div>
<div class="row test-row">
  <div ng-class="{'text-muted': item.cat === 0}" class="col-md-12">
    {% test_field "RoutineSPT.cat" unit="mm" %}
  </div>
</div>
<div class="row test-row">
  <div ng-class="{'text-muted': item.house_dust_mite === 0}" class="col-md-12">
    {% test_field "RoutineSPT.house_dust_mite" unit="mm" %}
  </div>
</div>


