{% load rbhl_panels %}
<div class="row">
  <div class="col-md-3">
    <b>
      Routine SPT:
    </b>
  </div>
  <div class="col-md-3">
    {% field_display "RoutineSPT.neg_control"  %}
  </div>
  <div class="col-md-3">
    {% field_display "RoutineSPT.pos_control" %}
  </div>
  <div class="col-md-3">
    {% field_display "RoutineSPT.asp_fumigatus"  %}
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-md-offset-3">
    {% field_display "RoutineSPT.grass_pollen" %}
  </div>
  <div class="col-md-3">
    {% field_display "RoutineSPT.cat" %}
  </div>
  <div class="col-md-3">
    {% field_display "RoutineSPT.house_dust_mite" %}
  </div>
</div>
