{% load rbhl_panels %}
<div class="row">
  <div class="col-md-4">
    {% test_display "RoutineSPT.neg_control" bold_if_truthy=True %}
  </div>
  <div class="col-md-4">
    {% test_display "RoutineSPT.pos_control" bold_if_truthy=True %}
  </div>
  <div class="col-md-4">
    {% test_display "RoutineSPT.asp_fumigatus" bold_if_truthy=True %}
  </div>
  <div class="col-md-4">
    {% test_display "RoutineSPT.grass_pollen" bold_if_truthy=True %}
  </div>
  <div  class="col-md-4">
    {% test_display "RoutineSPT.cat" bold_if_truthy=True %}
  </div>
  <div class="col-md-4">
    {% test_display "RoutineSPT.house_dust_mite" bold_if_truthy=True %}
  </div>
</div>
