{% load rbhl_panels %}
<div class="row">
  <div class="col-md-4">
    {% test_display "Spirometry.fev_1" %}
  </div>
  <div class="col-md-4">
    {% test_display "Spirometry.fev_1_post_ventolin" label="Post ventolin" %}
  </div>
  <div class="col-md-4">
    {% test_display "Spirometry.fev_1_post_ventolin" label="% prediced" %}
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    {% test_display "Spirometry.fvc" %}
  </div>
  <div class="col-md-4">
    {% test_display "Spirometry.fvc_post_ventolin" label="Post ventolin" %}
  </div>
  <div class="col-md-4">
    {% test_display "Spirometry.fvc_post_ventolin" label="% prediced" %}
  </div>
</div>


