<div class="row">
  <div class="col-md-4">
    <b>Attendance:</b> [[ item.attendance | boxed ]]<br />
  </div>
  <div class="col-md-4">
    <b>     Firefighter:</b> [[ item.firefighter | boxed ]] <br />
  </div>
  <div class="col-md-4">
    <b>     Active:</b> [[ item.active | boxed ]] <br />
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h3 ng-show="item.general_notes">General notes</h3>
    <div markdown="general_notes"></div>

    <!-- <span ng-show="item.finaldays"> -->
    <!--   <b> Final days:</b> [[ item.finaldays ]] -->
    <!--   <br /> -->
    <!-- </span> -->
  </div>
</div>
