{% load rbhl_panels %}
<div ng-show="investigationsView.combineBloodBookResultResults(item.bloodbookresult_set).length" class="row">
  <div class="row">
    <div class="col-md-6">
      Result
    </div>
    <div class="col-md-6">
      <span ng-repeat="r in investigationsView.combineBloodBookResultResults(item.bloodbookresult_set) track by $index">
        [[ r ]]<br />
      </span>
    </div>
  </div>
</div>
<div class="row" ng-repeat="result in item.bloodbookresult_set track by $index">
  <div ng-hide="result.result" class="row">
    <div class="col-md-6">
      [[ result.allergen ]]
      <span ng-show="result.antigenno"> ([[result.antigenno]])</span>
    </div>
    <div class="col-md-6">
      <span ng-show="result.kul || result.klass">
        IgE:
        <span ng-show="result.kul">
          [[ result.kul ]] kU/L
        </span>
        <span ng-show="result.kul || result.klass">&nbsp;</span>
        <span ng-class="result.klass">&nbsp; [[ result.klass ]] CLASS</span>
      </span>
      <span ng-show="result.rast">
        RAST %B: [[ result.rast ]]<br />
      </span>
      <span ng-show="result.precipitin">
        Precipitin: [[ result.precipitin ]]<br />
      </span>
      <span ng-show="result.igg || result.iggclass">
        IgG:
        <span ng-show="result.igg">
          mg/L: [[ result.igg ]]<br />
        </span>
        <span ng-show="result.igg || result.iggclass">&nbsp;</span>
        <span ng-show="result.iggclass">
          class: [[ result.iggclass ]]<br />
        </span>
      </span>
    </div>
  </div>
</div>
<div class="row content-offset-10" ng-show="item.information">
  <div class="md-12">
    <p ng-show="item.store">
      <span ng-show="item.store">STORED</span>
    </p>
    <p markdown="information"></p>
  </div>
</div>