{% load rbhl_panels %}
<div ng-show="investigationsView.combineBloodBookResultResults(item.bloodbookresult).length">
  <div class="row" ng-repeat="resultRow in investigationsView.combineBloodBookResultResults(item.bloodbookresult) track by $index">
    <div ng-repeat="r in investigationsView.splitResult(resultRow)" class="col-md-6">
      [[ r ]]
    </div>
  </div>
</div>
<div ng-class="{'text-muted': !result.significant}" ng-repeat="result in item.bloodbookresult track by $index">
  <div ng-hide="result.result" class="row">
    <div class="col-md-6">
      [[ result.allergen ]]
      <span ng-show="result.antigenno"> ([[result.antigenno]])</span>
    </div>
    <div class="col-md-6">
      <span ng-show="result.kul">
        IgE:
        <span ng-show="result.kul">
          [[ result.kul ]] kU/L
        </span>
      </span>
      <span ng-show="result.rast">
        RAST %B: [[ result.rast ]]<br />
      </span>
      <span ng-show="result.rast_score">
        RAST score: [[ result.rast_score ]]<br />
      </span>
      <span ng-show="result.precipitin">
        Precipitin: [[ result.precipitin ]]<br />
      </span>
      <span ng-show="result.igg">
        IgG:
        <span ng-show="result.igg">
          mg/L: [[ result.igg ]]<br />
        </span>
      </span>
    </div>
  </div>
</div>
<div class="row content-offset-10" ng-show="item.information">
  <div class="md-12">
    <p ng-show="item.store">
      <span ng-show="item.store">STORED</span>
    </p>
    <p markdown="information"></p>
  </div>
</div>