<span ng-show="item.reference_number">
  <b>Reference Number</b> [[ item.reference_number ]]
   <br />
</span>
<span ng-show="item.employer">
  <b>Employer</b> [[ item.employer ]]
   <br />
</span>
<span ng-show="item.oh_provider">
  <b>OH Provider</b> [[ item.oh_provider ]]
   <br />
</span>
<span ng-show="item.blood_date">
  <b>Blood date</b> [[ item.blood_date | shortDate ]]
   <br />
</span>
<span ng-show="item.blood_number">
  <b>Blood Number</b> [[ item.blood_number ]]
   <br />
</span>
<span ng-show="item.method">
  <b>Method</b> [[ item.method ]]
   <br />
</span>
<span ng-show="item.blood_collected">
  <b>Blood collected</b>[[ item.blood_collected ]]
   <br />
</span>
<span ng-show="item.date_dna_extracted">
  <b>DNA Extraxted</b> [[ item.date_dna_extracted ]]
   <br />
</span>
<span ng-show="item.information">
  <b>Information</b> [[ item.information ]]
   <br />
</span>
<span ng-show="item.assayno">
  <b>Assayno</b> [[ item.assayno ]]
   <br />
</span>
<span ng-show="item.assay_date">
  <b>Assay date</b>[[ item.assay_date | shortDate ]]
   <br />
</span>
<span ng-show="item.blood_taken">
  <b>Blood taken</b>[[ item.blood_taken | shortDate ]]
   <br />
</span>
<span ng-show="item.blood_tm">
  <b>Blood tm</b>[[ item.blood_tm | shortDate ]]
   <br />
</span>
<span ng-show="item.report_dt">
  <b>Report dt</b>[[ item.report_dt | shortDate ]]
   <br />
</span>
<span ng-show="item.report_st">
  <b>Report st</b>[[ item.report_st | shortDate ]]
   <br />
</span>
<span ng-show="item.store">
  <b>Store</b>[[ item.store ]]
   <br />
</span>
<span ng-show="item.exposure">
  <b>Exposure</b> [[ item.exposure ]]
   <br />
</span>
<span ng-show="item.antigen_date">
  <b>Antigen date</b> [[ item.antigen_date | shortDate ]]
   <br />
</span>
<span ng-show="item.antigen_type">
  <b>Antigen type</b> [[ item.antigen_type ]]
   <br />
</span>
<span ng-show="item.comment">
  <b>Comment</b> [[ item.comment ]]
   <br />
</span>
<span ng-show="item.batches">
  <b>Batches</b> [[ item.batches ]]
   <br />
</span>
<span ng-show="item.room">
  <b>Room</b> [[ item.room ]]
   <br />
</span>
<span ng-show="item.freezer">
  <b>Freezer</b> [[ item.freezer ]]
   <br />
</span>
<span ng-show="item.shelf">
  <b>Shelf</b>[[ item.shelf ]]
   <br />
</span>
<span ng-show="item.tray">
  <b>Tray</b>[[ item.tray ]]
   <br />
</span>
<span ng-show="item.vials">
  <b>Vials</b>[[ item.vials ]]
   <br />
</span>
