<div class="row">
  <div class="col-md-2">
    <b>Challenge</b><br />
    [[ item.date_of_challenge | displayDate ]]
  </div>
  <div class="col-md-2">
    # [[ item.bronchial_num ]]
  </div>
  <div class="col-md-4">
    <b>Substance:</b> [[ item.substance ]]
    <br/>
    <b>Last exposed</b> [[ item.last_exposed | displayDate ]]
    <br />
    <b>Duration exposed</b> [[ item.duration_exposed ]]
  </div>
  <div class="col-md-4">
    <b>Baseline PC290:</b><br /> [[ item.baseline_pc290 ]]<br />
    <b>Lowest PC20:</b><br /> [[ item.lowest_pc20 ]]
  </div>

</div>
