  Hospital Number: [[ item.hospital_number ]]
   <br />
    date_first_attended: [[ item.date_first_attended ]]
   <br />
  referring_doctor: [[ item.referring_doctor ]]
   <br />
    date_referral_received: [[ item.date_referral_received ]]
   <br />
    referral_type: [[ item.referral_type ]]
   <br />
    fire_service_applicant: [[ item.fire_service_applicant ]]
   <br />
    systems_presenting_compliant: [[ item.systems_presenting_compliant ]]
   <br />
    referral_disease: [[ item.referral_disease ]]
   <br />
    geographical_area: [[ item.geographical_area ]]
   <br />
    geographical_area_other: [[ item.geographical_area_other ]]
   <br />
    site_of_clinic: [[ item.site_of_clinic ]]
   <br />
    other_clinic_site: [[ item.other_clinic_site ]]
   <br />
    clinic_status: [[ item.clinic_status ]]
   <br />
    seen_by_dr: [[ item.seen_by_dr ]]
   <br />
    previous_atopic_disease: [[ item.previous_atopic_disease ]]
   <br />
    has_asthma: [[ item.has_asthma ]]
   <br />
    has_hayfever: [[ item.has_hayfever ]]
   <br />
    has_eczema: [[ item.has_eczema ]]
   <br />
    is_smoker: [[ item.is_smoker ]]
   <br />
    smokes_per_day: [[ item.smokes_per_day ]]
