<span ng-show="item.hospital_number">
    hospital_number: [[ item.hospital_number ]]
   <br />
</span>
<span ng-show="item.date_first_attended">
    date_first_attended: [[ item.date_first_attended ]]
   <br />
</span>
<span ng-show="item.referring_doctor">
    referring_doctor: [[ item.referring_doctor ]]
   <br />
</span>
<span ng-show="item.date_referral_received">
    date_referral_received: [[ item.date_referral_received ]]
   <br />
</span>
<span ng-show="item.referral_type">
    referral_type: [[ item.referral_type ]]
   <br />
</span>
<span ng-show="item.fire_service_applicant">
    fire_service_applicant: [[ item.fire_service_applicant ]]
   <br />
</span>
<span ng-show="item.systems_presenting_compliant">
    systems_presenting_compliant: [[ item.systems_presenting_compliant ]]
   <br />
</span>
<span ng-show="item.referral_disease">
    referral_disease: [[ item.referral_disease ]]
   <br />
</span>
<span ng-show="item.geographical_area">
    geographical_area: [[ item.geographical_area ]]
   <br />
</span>
<span ng-show="item.geographical_area_other">
    geographical_area_other: [[ item.geographical_area_other ]]
   <br />
</span>
<span ng-show="item.site_of_clinic">
    site_of_clinic: [[ item.site_of_clinic ]]
   <br />
</span>
<span ng-show="item.other_clinic_site">
    other_clinic_site: [[ item.other_clinic_site ]]
   <br />
</span>
<span ng-show="item.clinic_status">
    clinic_status: [[ item.clinic_status ]]
   <br />
</span>
<span ng-show="item.seen_by_dr">
    seen_by_dr: [[ item.seen_by_dr ]]
   <br />
</span>
<span ng-show="item.previous_atopic_disease">
    previous_atopic_disease: [[ item.previous_atopic_disease ]]
   <br />
</span>
<span ng-show="item.has_asthma">
    has_asthma: [[ item.has_asthma ]]
   <br />
</span>
<span ng-show="item.has_hayfever">
    has_hayfever: [[ item.has_hayfever ]]
   <br />
</span>
<span ng-show="item.has_eczema">
    has_eczema: [[ item.has_eczema ]]
   <br />
</span>
<span ng-show="item.is_smoker">
    is_smoker: [[ item.is_smoker ]]
   <br />
</span>
<span ng-show="item.smokes_per_day">
    smokes_per_day: [[ item.smokes_per_day ]]
   <br />
</span>
