<div class="row">
  <div class="col-md-6">
    <p><b>Rhinitis:</b> [[ item.rhinitis ]]</p>
    <p><b>Exacerbated by work:</b> [[ item.work_exacerbated ]] </p>
    <p><b>Occupational Rhinitis Caused By Sensitisation:</b> [[ item.occupational_rhinitis_caused_by_sensitisation ]]</p>
  </div>
  <div class="col-md-6">
    <p>
      <b>Rhinitis Occupational Sensitisation Cause</b>
      <br />
      [[ item.rhinitis_occupational_sensitisation_cause ]]
    </p>
    <p><b>Non Occupational Rhinitis:</b> [[ item.has_non_occupational_rhinitis ]]</p>
  </div>
</div>
