<span ng-show="item.antihistimines">
    antihistimines: [[ item.antihistimines ]]
   <br />
</span>
<span ng-show="item.skin_prick_test">
    skin_prick_test: [[ item.skin_prick_test ]]
   <br />
</span>
<span ng-show="item.atopic">
    atopic: [[ item.atopic ]]
   <br />
</span>
<span ng-show="item.specific_skin_prick">
    specific_skin_prick: [[ item.specific_skin_prick ]]
   <br />
</span>
<span ng-show="item.serum_antibodies">
    serum_antibodies: [[ item.serum_antibodies ]]
   <br />
</span>
<span ng-show="item.bronchial_prov_test">
    bronchial_prov_test: [[ item.bronchial_prov_test ]]
   <br />
</span>
<span ng-show="item.change_pc_20">
    change_pc_20: [[ item.change_pc_20 ]]
   <br />
</span>
<span ng-show="item.nasal_prov_test">
    nasal_prov_test: [[ item.nasal_prov_test ]]
   <br />
</span>
<span ng-show="item.positive_reaction">
    positive_reaction: [[ item.positive_reaction ]]
   <br />
</span>
<span ng-show="item.height">
    height: [[ item.height ]]
   <br />
</span>
<span ng-show="item.fev_1">
    fev_1: [[ item.fev_1 ]]
   <br />
</span>
<span ng-show="item.fev_1_post_ventolin">
    fev_1_post_ventolin: [[ item.fev_1_post_ventolin ]]
   <br />
</span>
<span ng-show="item.fev_1_percentage_protected">
    fev_1_percentage_protected: [[ item.fev_1_percentage_protected ]]
   <br />
</span>
<span ng-show="item.fvc">
    fvc: [[ item.fvc ]]
   <br />
</span>
<span ng-show="item.fvc_post_ventolin">
    fvc_post_ventolin: [[ item.fvc_post_ventolin ]]
   <br />
</span>
<span ng-show="item.fvc_percentage_protected">
    fvc_percentage_protected: [[ item.fvc_percentage_protected ]]
   <br />
</span>
<span ng-show="item.is_serial_peak_flows_requested">
    is_serial_peak_flows_requested: [[ item.is_serial_peak_flows_requested ]]
   <br />
</span>
<span ng-show="item.has_spefr_variability">
    has_spefr_variability: [[ item.has_spefr_variability ]]
   <br />
</span>
<span ng-show="item.is_returned">
    is_returned: [[ item.is_returned ]]
   <br />
</span>
<span ng-show="item.is_spefr_work_related">
    is_spefr_work_related: [[ item.is_spefr_work_related ]]
   <br />
</span>
<span ng-show="item.ct_chest_scan">
    ct_chest_scan: [[ item.ct_chest_scan ]]
   <br />
</span>
<span ng-show="item.ct_chest_scan_date">
    ct_chest_scan_date: [[ item.ct_chest_scan_date ]]
   <br />
</span>
<span ng-show="item.full_lung_function">
    full_lung_function: [[ item.full_lung_function ]]
   <br />
</span>
<span ng-show="item.full_lung_function_date">
    full_lung_function_date: [[ item.full_lung_function_date ]]
   <br />
</span>
