antihistimines: [[ item.antihistimines ]]
<br />

skin_prick_test: [[ item.skin_prick_test ]]
<br />

atopic: [[ item.atopic ]]
<br />

specific_skin_prick: [[ item.specific_skin_prick ]]
<br />

serum_antibodies: [[ item.serum_antibodies ]]
<br />

bronchial_prov_test: [[ item.bronchial_prov_test ]]
<br />

change_pc_20: [[ item.change_pc_20 ]]
<br />

nasal_prov_test: [[ item.nasal_prov_test ]]
<br />

positive_reaction: [[ item.positive_reaction ]]
<br />

height: [[ item.height ]]
<br />

fev_1: [[ item.fev_1 ]]
<br />

fev_1_post_ventolin: [[ item.fev_1_post_ventolin ]]
<br />

fev_1_percentage_protected: [[ item.fev_1_percentage_protected ]]
<br />

fvc: [[ item.fvc ]]
<br />

fvc_post_ventolin: [[ item.fvc_post_ventolin ]]
<br />

fvc_percentage_protected: [[ item.fvc_percentage_protected ]]
<br />

is_serial_peak_flows_requested: [[ item.is_serial_peak_flows_requested ]]
<br />

has_spefr_variability: [[ item.has_spefr_variability ]]
<br />

is_returned: [[ item.is_returned ]]
<br />

is_spefr_work_related: [[ item.is_spefr_work_related ]]
<br />

ct_chest_scan: [[ item.ct_chest_scan ]]
<br />

ct_chest_scan_date: [[ item.ct_chest_scan_date ]]
<br />

full_lung_function: [[ item.full_lung_function ]]
<br />

full_lung_function_date: [[ item.full_lung_function_date ]]
<br />
