<span ng-show="item.copd">
    copd: [[ item.copd ]]
   <br />
</span>
<span ng-show="item.emphysema">
    emphysema: [[ item.emphysema ]]
   <br />
</span>
<span ng-show="item.copd_with_emphysema">
    copd_with_emphysema: [[ item.copd_with_emphysema ]]
   <br />
</span>
<span ng-show="item.copd_is_occupational">
    copd_is_occupational: [[ item.copd_is_occupational ]]
   <br />
</span>
<span ng-show="item.malignancy">
    malignancy: [[ item.malignancy ]]
   <br />
</span>
<span ng-show="item.malignancy_is_occupational">
    malignancy_is_occupational: [[ item.malignancy_is_occupational ]]
   <br />
</span>
<span ng-show="item.malignancy_type">
    malignancy_type: [[ item.malignancy_type ]]
   <br />
</span>
<span ng-show="item.malignancy_type_other">
    malignancy_type_other: [[ item.malignancy_type_other ]]
   <br />
</span>
<span ng-show="item.NAD">
    NAD: [[ item.NAD ]]
   <br />
</span>
<span ng-show="item.diffuse_lung_disease">
    diffuse_lung_disease: [[ item.diffuse_lung_disease ]]
   <br />
</span>
<span ng-show="item.diffuse_lung_disease_is_occupational">
    diffuse_lung_disease_is_occupational: [[ item.diffuse_lung_disease_is_occupational ]]
   <br />
</span>
<span ng-show="item.diffuse_lung_disease_type">
    diffuse_lung_disease_type: [[ item.diffuse_lung_disease_type ]]
   <br />
</span>
<span ng-show="item.diffuse_lung_disease_type_other">
    diffuse_lung_disease_type_other: [[ item.diffuse_lung_disease_type_other ]]
   <br />
</span>
<span ng-show="item.benign_pleural_disease">
    benign_pleural_disease: [[ item.benign_pleural_disease ]]
   <br />
</span>
<span ng-show="item.benign_pleural_disease_type">
    benign_pleural_disease_type: [[ item.benign_pleural_disease_type ]]
   <br />
</span>
<span ng-show="item.other_diagnosis">
    other_diagnosis: [[ item.other_diagnosis ]]
   <br />
</span>
<span ng-show="item.other_diagnosis_is_occupational">
    other_diagnosis_is_occupational: [[ item.other_diagnosis_is_occupational ]]
   <br />
</span>
<span ng-show="item.other_diagnosis_type">
    other_diagnosis_type: [[ item.other_diagnosis_type ]]
   <br />
</span>
<span ng-show="item.other_diagnosis_type_other">
    other_diagnosis_type_other: [[ item.other_diagnosis_type_other ]]
   <br />
</span>
