copd: [[ item.copd ]]
<br />

emphysema: [[ item.emphysema ]]
<br />

copd_with_emphysema: [[ item.copd_with_emphysema ]]
<br />

copd_is_occupational: [[ item.copd_is_occupational ]]
<br />

malignancy: [[ item.malignancy ]]
<br />

malignancy_is_occupational: [[ item.malignancy_is_occupational ]]
<br />

malignancy_type: [[ item.malignancy_type ]]
<br />

malignancy_type_other: [[ item.malignancy_type_other ]]
<br />

NAD: [[ item.NAD ]]
<br />

diffuse_lung_disease: [[ item.diffuse_lung_disease ]]
<br />

diffuse_lung_disease_is_occupational: [[ item.diffuse_lung_disease_is_occupational ]]
<br />

diffuse_lung_disease_type: [[ item.diffuse_lung_disease_type ]]
<br />

diffuse_lung_disease_type_other: [[ item.diffuse_lung_disease_type_other ]]
<br />

benign_pleural_disease: [[ item.benign_pleural_disease ]]
<br />

benign_pleural_disease_type: [[ item.benign_pleural_disease_type ]]
<br />

other_diagnosis: [[ item.other_diagnosis ]]
<br />

other_diagnosis_is_occupational: [[ item.other_diagnosis_is_occupational ]]
<br />

other_diagnosis_type: [[ item.other_diagnosis_type ]]
<br />

other_diagnosis_type_other: [[ item.other_diagnosis_type_other ]]
<br />
