<div class="row">
  <div class="col-md-6">
    <h3>Chronic air flow limitation</h3>
    <p><b>COPD:</b> [[ item.copd ]]</p>
    <p><b>Emphysema:</b> [[ item.emphysema ]]</p>
    <p><b>COPD with Emphysema:</b> [[ item.copd_with_emphysema ]]</p>
    <p><b>Occupational:</b> [[ item.copd_is_occupational ]]</p>
  </div>
  <div class="col-md-6">
    <h3>Diffuse Lung Disease</h3>
    <p><b>Diffuse Lung Disease:</b> [[ item.diffuse_lung_disease ]]</p>
    <p><b>Occupational:</b> [[ item.diffuse_lung_disease_is_occupational ]]</p>
    <p><b>Type of disease:</b> [[ item.diffuse_lung_disease_type ]]</p>
    <p><b>Other:</b> [[ item.diffuse_lung_disease_type_other ]]</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Malignancy</h3>
    <p><b>Malignancy:</b> [[ item.malignancy ]]</p>
    <p><b>Occupational:</b> [[ item.malignancy_is_occupational ]]</p>
    <p><b>Type of Malignancy:</b> [[ item.malignancy_type ]]</p>
    <p><b>Other</b> [[ item.malignancy_type_other ]]</p>
  </div>
  <div class="col-md-6">
    <h3>Benign Pleural Disease</h3>
    <p><b>Benign Pleural Disease:</b> [[ item.benign_pleural_disease ]]</p>
    <p><b>Type of Disease:</b> [[ item.benign_pleural_disease_type ]]</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Other Diagnosis</h3>
    <p><b>Other Diagnosis:</b> [[ item.other_diagnosis ]]</p>
    <p><b>Occupational</b> [[ item.other_diagnosis_is_occupational ]]</p>
    <p><b>Type of disease</b> [[ item.other_diagnosis_type ]]</p>
    <p><b>Other</b> [[ item.other_diagnosis_type_other ]]</p>
  </div>
</div>
