<div class="row">
  <div class="col-md-6">
    <p><b>Asthma:</b> [[ item.asthma ]]</p>
    <p><b>Exacerbated by work:</b> [[ item.is_exacerbated_by_work ]] </p>
    <p><b>Irritant induced:</b> [[ item.has_infant_induced_asthma ]] </p>
    <p><b>Occupational Asthma Caused By Sensitisation:</b> [[ item.occupational_asthma_caused_by_sensitisation ]]</p>
  </div>
  <div class="col-md-6">
    <p>
      <b>Sensitising Agent</b>
      <br />
      [[ item.sensitising_agent ]]
    </p>
    <p><b>Non Occupational Asthma:</b> [[ item.has_non_occupational_asthma ]]</p>
  </div>
</div>
