<span ng-show="item.other_det_num">
    other det num: [[ item.other_det_num ]]
   <br />
</span>
<span ng-show="item.attendance_date">
    attendance date: [[ item.attendance_date ]]
   <br />
</span>
<span ng-show="item.specialist_doctor">
    specialist doctor: [[ item.specialist_doctor ]]
   <br />
</span>
<span ng-show="item.referral">
    referral: [[ item.referral ]]
   <br />
</span>
<span ng-show="item.reasons_other">
    reasons other: [[ item.reasons_other ]]
   <br />
</span>
<span ng-show="item.occupation_other">
    occupation other: [[ item.occupation_other ]]
   <br />
</span>
<span ng-show="item.ige_results">
    ige results: [[ item.ige_results ]]
   <br />
</span>
<span ng-show="item.serium_results_num">
    serium results num: [[ item.serium_results_num ]]
   <br />
</span>
<span ng-show="item.ssp_test_num">
    ssp test num: [[ item.ssp_test_num ]]
   <br />
</span>
<span ng-show="item.serial_perf">
    serial perf: [[ item.serial_perf ]]
   <br />
</span>
<span ng-show="item.perf_variability">
    perf availability: [[ item.perf_variability ]]
   <br />
</span>
<span ng-show="item.perf_work_relat">
    perf work relat: [[ item.perf_work_relat ]]
   <br />
</span>
<span ng-show="item.outcome_num">
    outcome num: [[ item.outcome_num ]]
   <br />
</span>
<span ng-show="item.full_pul_fun_test">
    full pul fun test: [[ item.full_pul_fun_test ]]
   <br />
</span>
<span ng-show="item.lft_date">
    lft date: [[ item.lft_date ]]
   <br />
</span>
<span ng-show="item.asthma_relate_work">
    asthma relate work: [[ item.asthma_relate_work ]]
   <br />
</span>
<span ng-show="item.chronic_air_flow">
    chronic air flow: [[ item.chronic_air_flow ]]
   <br />
</span>
<span ng-show="item.chronic_air_flow_choice">
    chromic air flow choice: [[ item.chronic_air_flow_choice ]]
   <br />
</span>
<span ng-show="item.chronic_obstructive_brinchitis">
    chronic obstructive brinchitis: [[ item.chronic_obstructive_brinchitis ]]
   <br />
</span>
<span ng-show="item.Exposure_dates">
    exposure dates: [[ item.Exposure_dates ]]
   <br />
</span>
<span ng-show="item.bronch_prov_test_type">
    bronch prov test type: [[ item.bronch_prov_test_type ]]
   <br />
</span>
