other det num: [[ item.other_det_num ]]
<br />

attendance date: [[ item.attendance_date ]]
<br />

specialist doctor: [[ item.specialist_doctor ]]
<br />

referral: [[ item.referral ]]
<br />

reasons other: [[ item.reasons_other ]]
<br />

occupation other: [[ item.occupation_other ]]
<br />

ige results: [[ item.ige_results ]]
<br />

serium results num: [[ item.serium_results_num ]]
<br />

ssp test num: [[ item.ssp_test_num ]]
<br />

serial perf: [[ item.serial_perf ]]
<br />

perf availability: [[ item.perf_variability ]]
<br />

perf work relat: [[ item.perf_work_relat ]]
<br />

outcome num: [[ item.outcome_num ]]
<br />

full pul fun test: [[ item.full_pul_fun_test ]]
<br />

lft date: [[ item.lft_date ]]
<br />

asthma relate work: [[ item.asthma_relate_work ]]
<br />

chronic air flow: [[ item.chronic_air_flow ]]
<br />

chromic air flow choice: [[ item.chronic_air_flow_choice ]]
<br />

chronic obstructive brinchitis: [[ item.chronic_obstructive_brinchitis ]]
<br />

exposure dates: [[ item.Exposure_dates ]]
<br />

bronch prov test type: [[ item.bronch_prov_test_type ]]
<br />
