<div class="row">
  <div class="col-md-4">
    <p><b>Neg Control:</b> [[ item.neg_control ]]</p>
    <p><b>Pos Control:</b> [[ item.pos_control ]]</p>

  </div>
  <div class="col-md-4">
    <p><b>ASP Fumigatus:</b> [[ item.asp_fumigatus ]]</p>
    <p><b>Grass Pollen:</b> [[ item.grass_pollen ]]</p>
    <p><b>Alternaria:</b> [[ item.alternaria ]]</p>
  </div>
  <div class="col-md-4">
    <p><b>Cat:</b> [[ item.cat ]]</p>
    <p><b>D PTER:</b> [[ item.d_pter ]]</p>
    <p><b>Clad:</b> [[ item.clad ]]</p>
  </div>
</div>
