<span ng-show="item.neg_control">
    neg_control: [[ item.neg_control ]]
   <br />
</span>
<span ng-show="item.pos_control">
    pos_control: [[ item.pos_control ]]
   <br />
</span>
<span ng-show="item.asp_fumigatus">
    asp_fumigatus: [[ item.asp_fumigatus ]]
   <br />
</span>
<span ng-show="item.grass_pollen">
    grass_pollen: [[ item.grass_pollen ]]
   <br />
</span>
<span ng-show="item.cat">
    cat: [[ item.cat ]]
   <br />
</span>
<span ng-show="item.dog">
    dog: [[ item.dog ]]
   <br />
</span>
<span ng-show="item.d_pter">
    d_pter: [[ item.d_pter ]]
   <br />
</span>
<span ng-show="item.alternaria">
    alternaria: [[ item.alternaria ]]
   <br />
</span>
<span ng-show="item.clad">
    clad: [[ item.clad ]]
   <br />
</span>
