<div class="row">
  <div class="col-md-6">

    <p>
      <b>Currently Employed?</b> [[ item.is_currently_employed ]]
    </p>

    <p>
      <b>Suspect Occupational Category</b> [[ item.suspect_occupational_category ]]
    </p>

    <p>
      <b>Job Title:</b> [[ item.job_title ]]
    </p>

    <p>
      <b>Exposures:</b> [[ item.exposures ]]
    </p>

  </div>
  <div class="col-md-6">

    <p>
      <b>Name Of Employer: </b> [[ episode.employment[0].employer ]]
    </p>

    <p>
      <b>Currently Employed In Suspect Occupation</b>
      [[ item.is_employed_in_suspect_occupation ]]
    </p>


    <div class="row">

      <div class="col-md-6">
        <p>-</p>
        <p><b>Date Started Exposure: </b></p>
        <p><b>Date Finished Exposure:</b></p>
      </div>

      <div class="col-md-3">
        <p><b>Month</b></p>
        <p>
          [[ item.month_started_exposure ]]
        </p>
        <p>
           [[ item.month_finished_exposure ]]
        </p>
      </div>

      <div class="col-md-3">
        <p><b>Year</b></p>
        <p>
          [[ item.year_finished_exposure ]]
        </p>
        <p>
          [[ item.year_started_exposure ]]
        </p>
      </div>

    </div>

  </div>
</div>
