<span ng-show="item.is_currently_employed">
    is_currently_employed: [[ item.is_currently_employed ]]
   <br />
</span>
<span ng-show="item.suspect_occupational_category">
    suspect_occupational_category: [[ item.suspect_occupational_category ]]
   <br />
</span>
<span ng-show="item.job_title">
    job_title: [[ item.job_title ]]
   <br />
</span>
<span ng-show="item.exposures">
    exposures: [[ item.exposures ]]
   <br />
</span>
<span ng-show="item.employer_name">
    employer_name: [[ item.employer_name ]]
   <br />
</span>
<span ng-show="item.is_employed_in_suspect_occupation">
    is_employed_in_suspect_occupation: [[ item.is_employed_in_suspect_occupation ]]
   <br />
</span>
<span ng-show="item.year_started_exposure">
    year_started_exposure: [[ item.year_started_exposure ]]
   <br />
</span>
<span ng-show="item.month_started_exposure">
    month_started_exposure: [[ item.month_started_exposure ]]
   <br />
</span>
<span ng-show="item.year_finished_exposure">
    year_finished_exposure: [[ item.year_finished_exposure ]]
   <br />
</span>
<span ng-show="item.month_finished_exposure">
    month_finished_exposure: [[ item.month_finished_exposure ]]
   <br />
</span>
