Is currently employed? [[ item.is_currently_employed ]]
<br />
Suspect occupational category: [[ item.suspect_occupational_category ]]
<br />
Job title: [[ item.job_title ]]
<br />
Exposures: [[ item.exposures ]]
<br />
Employer name: [[ item.employer_name ]]
<br />
Is employed in suspect occupation? [[ item.is_employed_in_suspect_occupation ]]
<br />
Year started exposure: [[ item.year_started_exposure ]]
<br />
Month started exposure: [[ item.month_started_exposure ]]
<br />
Year finished exposure: [[ item.year_finished_exposure ]]
<br />
Month finished exposure: [[ item.month_finished_exposure ]]
<br />
