{% load forms %}
<div class="peak-flow-step">

  <div class="row">
    <div class="col-sm-4">
      <div ng-class="{'errored-state': initialFormErrors.startDate}" class="form-group">
        <label for="startDate" class="control-label">
          Start date
        </label>
        <input id="startDate" class="form-control" type="date" ng-model="startDate" ng-blur="updateTrialNumbers()">
        <div class="row">
          <div class="col-md-12">
            <span class="help-block validation-error" >
              [[ initialFormErrors.startDate ]]
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div ng-class="{'errored-state': initialFormErrors.trialDays}" class="form-group">
        <label for="trialDays" class="control-label">Number of trial days</label>
        <input id="trialDays" class="form-control" type="number" ng-model="numOfTrials" ng-blur="updateTrialNumbers()">
        <div class="row">
          <div class="col-md-12">
            <span class="help-block validation-error">
              [[ initialFormErrors.trialDays ]]
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="trialDays.length" class="row">
    <div class="col-sm-8">
      <label>Notes</label>
      <textarea class="form-control" rows="5" ng-model="trialDays[0].note"></textarea>
    </div>
  </div>
  <div class="content-offset content-offset-below-10" ng-repeat="trialDay in trialDays">
    <div class="row">
      <div class="col-md-4">
        <h3>Trial day [[ trialDay.day_num ]] <small>[[ trialDay.date | momentDateFormat:'ddd D MMM YYYY' ]]</small></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Treatment</label>
          <input ng-model="trialDay.treatment_taken" ng-blur="createTreatmentList()" class="form-control" type="text" list="trial-treatment-[[ $index ]]">
          <datalist id="trial-treatment-[[ $index ]]">
              <option ng-repeat="treatment in treatments track by $index" value="[[ treatment ]]">
          </datalist>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-horizontal" >
          <label class="control-label radio-label">Work day</label>
          <div class="rbhl-radio">
            <label class="radio-inline">
              <input class="work-day" type="radio" ng-model="trialDay.work_day" name="workday_[[ $index ]]" id="workday[[ $index ]]" ng-value="true">
              <div class="label-text">Yes</div>
            </label>
            <label class="radio-inline">
              <input class="work-day" type="radio" ng-model="trialDay.work_day" name="workday_[[ $index ]]" id="workday[[ $index ]]" ng-value="false">
              <div class="label-text">No</div>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr></hr>
      </div>
    </div>
    <div class="row">
      <form ng-submit="trialDay.addFlow($index)" class="form">
        <div class="col-md-4">
          <div listen class="form-group" ng-class="{'errored-state': trialDay.form.errors.time}">
            <label>Time</label>
            <ui-select reemit="'reset' + $index" focus-on="refocus" ng-model="trialDay.form.time" uis-open-close="trialDay.validateTimeWhenClosed(isOpen)" theme="bootstrap">
              <ui-select-match>[[ $select.selected ]]</ui-select-match>
              <ui-select-choices repeat="i in timeOptions | filter:$select.search track by $index">
                <div ng-bind-html="i | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
            <div class="row">
              <div class="col-md-12">
                <span class="help-block validation-error" >
                  [[ trialDay.form.errors.time ]]
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group"  ng-class="{'errored-state': trialDay.form.errors.flow}">
            <label>Flow</label>
            <input ng-model="trialDay.form.flow" class="form-control" ng-class="{'errored-state': trialDay.hasError()}" ng-blur="trialDay.validateFlow()" type="number">
            <div class="row">
              <div class="col-md-12">
                <span class="help-block validation-error" >
                  [[ trialDay.form.errors.flow ]]
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <button type="submit" class="btn btn-default add-flow">Add flow</button>
        </div>
      </form>
    </div>
    <div ng-repeat="peakFlowTime in trialDay.peakFlowTimes" class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6 flow-table">[[ peakFlowTime.time ]]</div>
          <div class="col-md-6 flow-table">[[ peakFlowTime.flow || 0]]</div>
        </div>
      </div>
      <div class="col-md-4">
        <button tabindex="-1" ng-click="trialDay.removeFlow($index)" class="btn btn-default remove-flow">&#8722;</button>
      </div>
    </div>
  </div>
</div>
