{% load forms %}
{% input field="BloodBook.reference_number" %}
{% input field="BloodBook.employer" %}
{% input field="BloodBook.oh_provider" %}
{% datepicker field="BloodBook.blood_date" %}
{% input field="BloodBook.blood_number" %}
{% input field="BloodBook.method" %}
{% input field="BloodBook.blood_collected" %}
{% input field="BloodBook.date_dna_extracted" %}
{% input field="BloodBook.information" %}
{% input field="BloodBook.assayno" %}
{% datepicker field="BloodBook.assay_date" %}
{% datepicker field="BloodBook.blood_taken" %}
{% datepicker field="BloodBook.blood_tm" %}
{% datepicker field="BloodBook.report_dt" %}
{% datepicker field="BloodBook.report_st" %}
{% input field="BloodBook.store" %}
{% input field="BloodBook.exposure" %}
{% datepicker field="BloodBook.antigen_date" %}
{% input field="BloodBook.antigen_type" %}
{% textarea field="BloodBook.comment" %}
{% textarea field="BloodBook.batches" %}
{% textarea field="BloodBook.room" %}
{% textarea field="BloodBook.freezer" %}
{% textarea field="BloodBook.shelf" %}
{% textarea field="BloodBook.tray" %}
{% textarea field="BloodBook.vials" %}