{% load forms %}
{% textarea field="BronchialTest.bronchial_num" %}
{% textarea field="BronchialTest.substance" %}
{% textarea field="BronchialTest.last_exposed" %}
{% textarea field="BronchialTest.duration_exposed" %}
{% textarea field="BronchialTest.date_of_challenge" %}
{% textarea field="BronchialTest.foo" %}
{% textarea field="BronchialTest.other_type" %}
{% textarea field="BronchialTest.other" %}
{% textarea field="BronchialTest.baseline_pc290" %}
{% textarea field="BronchialTest.lowest_pc20" %}