{% load forms %}
{% textarea field="Details.hospital_number" %}
{% textarea field="Details.date_first_attended" %}
{% textarea field="Details.referring_doctor" %}
{% textarea field="Details.date_referral_received" %}
{% textarea field="Details.referral_type" %}
{% textarea field="Details.fire_service_applicant" %}
{% textarea field="Details.systems_presenting_compliant" %}
{% textarea field="Details.referral_disease" %}
{% textarea field="Details.geographical_area" %}
{% textarea field="Details.geographical_area_other" %}
{% textarea field="Details.site_of_clinic" %}
{% textarea field="Details.other_clinic_site" %}
{% textarea field="Details.clinic_status" %}
{% textarea field="Details.seen_by_dr" %}
{% textarea field="Details.previous_atopic_disease" %}
{% textarea field="Details.has_asthma" %}
{% textarea field="Details.has_hayfever" %}
{% textarea field="Details.has_eczema" %}
{% textarea field="Details.is_smoker" %}
{% textarea field="Details.smokes_per_day" %}