{% load forms %}
{% textarea field="DiagnosticTesting.antihistamines" %}
{% textarea field="DiagnosticTesting.skin_prick_test" %}
{% textarea field="DiagnosticTesting.atopic" %}
{% textarea field="DiagnosticTesting.specific_skin_prick" %}
{% textarea field="DiagnosticTesting.serum_antibodies" %}
{% textarea field="DiagnosticTesting.bronchial_prov_test" %}
{% textarea field="DiagnosticTesting.change_pc_20" %}
{% textarea field="DiagnosticTesting.nasal_prov_test" %}
{% textarea field="DiagnosticTesting.positive_reaction" %}
{% textarea field="DiagnosticTesting.height" %}
{% textarea field="DiagnosticTesting.fev_1" %}
{% textarea field="DiagnosticTesting.fev_1_post_ventolin" %}
{% textarea field="DiagnosticTesting.fev_1_percentage_protected" %}
{% textarea field="DiagnosticTesting.fvc" %}
{% textarea field="DiagnosticTesting.fvc_post_ventolin" %}
{% textarea field="DiagnosticTesting.fvc_percentage_protected" %}
{% textarea field="DiagnosticTesting.is_serial_peak_flows_requested" %}
{% textarea field="DiagnosticTesting.has_spefr_variability" %}
{% textarea field="DiagnosticTesting.is_returned" %}
{% textarea field="DiagnosticTesting.is_spefr_work_related" %}
{% textarea field="DiagnosticTesting.ct_chest_scan" %}
{% textarea field="DiagnosticTesting.ct_chest_scan_date" %}
{% textarea field="DiagnosticTesting.full_lung_function" %}
{% textarea field="DiagnosticTesting.full_lung_function_date" %}