{% load forms %}
{% textarea field="DiagnosticOther.copd" %}
{% textarea field="DiagnosticOther.emphysema" %}
{% textarea field="DiagnosticOther.copd_with_emphysema" %}
{% textarea field="DiagnosticOther.copd_is_occupational" %}
{% textarea field="DiagnosticOther.malignancy" %}
{% textarea field="DiagnosticOther.malignancy_is_occupational" %}
{% textarea field="DiagnosticOther.malignancy_type" %}
{% textarea field="DiagnosticOther.malignancy_type_other" %}
{% textarea field="DiagnosticOther.NAD" %}
{% textarea field="DiagnosticOther.diffuse_lung_disease" %}
{% textarea field="DiagnosticOther.diffuse_lung_disease_is_occupational" %}
{% textarea field="DiagnosticOther.diffuse_lung_disease_type" %}
{% textarea field="DiagnosticOther.diffuse_lung_disease_type_other" %}
{% textarea field="DiagnosticOther.benign_pleural_disease" %}
{% textarea field="DiagnosticOther.benign_pleural_disease_type" %}
{% textarea field="DiagnosticOther.other_diagnosis" %}
{% textarea field="DiagnosticOther.other_diagnosis_is_occupational" %}
{% textarea field="DiagnosticOther.other_diagnosis_type" %}
{% textarea field="DiagnosticOther.other_diagnosis_type_other" %}