{% load forms %}
{% textarea field="LegacyBronchialTest.bronchial_num" %}
{% textarea field="LegacyBronchialTest.substance" %}
{% textarea field="LegacyBronchialTest.last_exposed" %}
{% textarea field="LegacyBronchialTest.duration_exposed" %}
{% textarea field="LegacyBronchialTest.date_of_challenge" %}
{% textarea field="LegacyBronchialTest.foo" %}
{% textarea field="LegacyBronchialTest.other_type" %}
{% textarea field="LegacyBronchialTest.other" %}
{% textarea field="LegacyBronchialTest.baseline_pc290" %}
{% textarea field="LegacyBronchialTest.lowest_pc20" %}