{% load forms %}
{% textarea field="OtherFields.patient_num" %}
{% textarea field="OtherFields.other_det_num" %}
{% textarea field="OtherFields.attendance_date" %}
{% textarea field="OtherFields.specialist_doctor" %}
{% textarea field="OtherFields.referral" %}
{% textarea field="OtherFields.reasons_other" %}
{% textarea field="OtherFields.occupation_other" %}
{% textarea field="OtherFields.ige_results" %}
{% textarea field="OtherFields.serium_results_num" %}
{% textarea field="OtherFields.ssp_test_num" %}
{% textarea field="OtherFields.serial_perf" %}
{% textarea field="OtherFields.perf_variability" %}
{% textarea field="OtherFields.perf_work_relat" %}
{% textarea field="OtherFields.outcome_num" %}
{% textarea field="OtherFields.full_pul_fun_test" %}
{% textarea field="OtherFields.lft_date" %}
{% textarea field="OtherFields.asthma_relate_work" %}
{% textarea field="OtherFields.chronic_air_flow" %}
{% textarea field="OtherFields.chronic_air_flow_choice" %}
{% textarea field="OtherFields.chronic_obstructive_brinchitis" %}
{% textarea field="OtherFields.Exposure_dates" %}
{% textarea field="OtherFields.bronch_prov_test_type" %}