{% load forms %}
{% textarea field="SuspectOccupationalCategory.is_currently_employed" %}
{% textarea field="SuspectOccupationalCategory.suspect_occupational_category" %}
{% textarea field="SuspectOccupationalCategory.job_title" %}
{% textarea field="SuspectOccupationalCategory.exposures" %}
{% textarea field="SuspectOccupationalCategory.employer_name" %}
{% textarea field="SuspectOccupationalCategory.is_employed_in_suspect_occupation" %}
{% textarea field="SuspectOccupationalCategory.year_started_exposure" %}
{% textarea field="SuspectOccupationalCategory.month_started_exposure" %}
{% textarea field="SuspectOccupationalCategory.year_finished_exposure" %}
{% textarea field="SuspectOccupationalCategory.month_finished_exposure" %}