bind = "127.0.0.1:4567"
logfile = "{{ LOG_DIR }}/gunicorn.log"
workers = 3
timeout = 120
accesslog = "{{ LOG_DIR }}/{{ PROJECT_NAME }}.access.log"
errorlog = "{{ LOG_DIR }}/{{ PROJECT_NAME }}.error.log"