<div class="row">
    <div class="col-md-12 col-md-push-2">
        <p class="lead">
            If we already have your patient on the system, we can pull their
            details for you
        </p>

    </div>
</div>


<div class="row">
    <div class="col-md-8 col-md-push-2">
        <div class="horizontal-form">
            <label>Hospital number</label>
            <input class="form-control" type="text" ng-model="editing.demographics.hospital_number" autocomplete="off"
                autofocus name="demographics1_hospital_number" ng-maxlength="255"
                ng-keypress="$event.keyCode == 13 && lookup_hospital_number()">
        </div>
    </div>
</div>



<button class="btn btn-lg btn-primary pull-right" ng-click="lookup_hospital_number()">
    <i class="fa fa-search"></i>
    Search
</button>