{% extends 'static_base.html' %}
{% load stats %}
{% block title %}
Clinic activity {{ view.date_range.0 }} - {{ view.date_range.1 }}
{% endblock %}
{% block page_content %}
<div class="container-fluid">
  {% include 'partials/clinic_activity_menu.html' %}
  {% if aggregates %}
  <div class="row content-offset">
    {% for category, num in aggregates.head_lines.items %}
    <div class="col-md-4">
      <div class="page-header">
        <h1>{{ num }}
        <small>{{ category }}</small>
        </h1>
      </div>
    </div>
    {% endfor %}
  </div>
  {% category_bar_chart 'Days to first appointment/diagnosis' aggregates.patient_flow.x aggregates.patient_flow.vals %}
  <div class="row content-offset">
    <div class="col-md-12">
      <h1>Referral</h1>
    </div>
  </div>
  <div class="row">
    {% for k, v in aggregates.referral.items %}
    <div class="col-md-4">
      {% table_with_percent k v %}
    </div>
    {% endfor %}
  </div>
  {% category_bar_chart 'Age and sex' aggregates.demographics.x aggregates.demographics.vals %}
  <div class="row content-offset">
    <div class="col-md-12">
      <h1>Occupational categories</h1>
    </div>
  </div>
  <div class="row content-offset-20">
    {% for chunked in aggregates.occupational_categories.items|chunked:4 %}
    <div class="col-md-3">
       <table class="table table-striped">
       {% for occ_category, count in chunked %}
        <tr>
          <td>
            <div>
            <span>
              {{ occ_category }}
            </span>
            <span class="pull-right">
              {{ count }}
            </span>
            </div>
          </td> 
        </tr>
       {% endfor %}
       </table>
    </div>
    {% endfor %}
  </div>
  <div class="row content-offset">
    <div class="col-md-12">
      <h1>By clinician</h1>
    </div>
  </div>
  <div class="row">
    {% for k, v in aggregates.by_clinician.items %}
    <div class="col-md-4">
      {% pie_chart k v %}
    </div>
    {% endfor %}
  </div>
  <div class="row content-offset">
    <div class="col-md-12">
      <h1>Investigations</h1>
    </div>
  </div>
  <div class="row">
    {% for k, v in aggregates.investigations_summary.items %}
    <div class="col-md-4">
      {% pie_chart k v %}
    </div>
    {% endfor %}
  </div>
  <div class="row content-offset">
    <div class="col-md-12">
      <h3>Specific occupational skin tests</h3>
    </div>
  </div>
  <div class="row content-offset-20">
    {% for chunked in aggregates.specific_skin_prick_tests.items|chunked:4 %}
    <div class="col-md-3">
       <table class="table table-striped">
       {% for specific_spt, count in chunked %}
        <tr>
          <td>
            <div>
            <span>
              {{ specific_spt }}
            </span>
            <span class="pull-right">
              {{ count }}
            </span>
            </div>
          </td> 
        </tr>
       {% endfor %}
       </table>
    </div>
    {% endfor %}
  </div>
  {% category_bar_chart 'OEM investigations' aggregates.oem_investigations.x aggregates.oem_investigations.vals subtitle=True %}
  <div class="row content-offset">
    <div class="col-md-12">
      <h1>Diagnosis</h1>
    </div>
  </div>
  <div class="row">
    {% for k, v in aggregates.diagnosis_summary.items %}
    <div class="col-md-4">
      {% pie_chart k v %}
    </div>
    {% endfor %}
  </div>
  <div class="row content-offset">
    <div class="col-md-12">
      <h3>Diagnosis breakdown</h3>
    </div>
  </div>
  <div class="row content-offset-20">
    {% for chunked in aggregates.diagnosis_breakdown.items|chunked:4 %}
    <div class="col-md-3">
       <table class="table table-striped">
       {% for diagnosis, count in chunked %}
        <tr>
          <td>
            <div>
            <span>
              {{ diagnosis }}
            </span>
            <span class="pull-right">
              {{ count }}
            </span>
            </div>
          </td> 
        </tr>
       {% endfor %}
       </table>
    </div>
    {% endfor %}
  </div>
  {% include 'partials/download_button.html' with title="Download the patient data" %}
  {% else %}
  <div class="row headed-content-offset">
    <div class="col-md-12 text-center">
      <h1 class="text-muted">
        No data available
      </h1>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}