{% extends 'static_base.html' %}
{% load stats %}
{% block title %}
Clinic activity {{ view.date_range.0 }} - {{ view.date_range.1 }}
{% endblock %}
{% block page_content %}
<div class="container-fluid">
  {% include 'partials/clinic_activity_menu.html' %}
  <div class="row content-offset">
    {% for category, num in aggregates.head_lines.items %}
    <div class="col-md-4">
      <div class="page-header">
        <h1>{{ num }}
        <small>{{ category }}</small>
        </h1>
      </div>
    </div>
    {% endfor %}
  </div>
  {% category_bar_chart 'Patient flow' aggregates.patient_flow.x aggregates.patient_flow.vals %}
</div>
{% endblock %}