{% load stats %}
<div class="row">
  <div class="col-md-12 ">
    {% if subtitle %}
    <h3>{{ title }}</h3>
    {% else %}
    <h1>{{ title }}</h1>
    {% endif %}
  </div>
</div>
<div class="content-offset-20" id="{{ html_id }}">
</div>
<div class="row content-offset-20">
  <div class="col-md-12">
    <table class="table table-striped">
      <tr>
        <th></th>
        {% for x_value in table.x_axis %}
        <th class="text-center">{{ x_value }}</th>
        {% endfor %}
      </tr>
      {% for k in table.field_vals %}
        <tr>
        {% for v in k %}
        <td {% if not forloop.first %}class="text-center" {% endif %}style="color: {{ forloop.parentloop.counter0 | color }}">
        {% value_display v %}
        </td>
        {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
<script>
  c3.generate({
    bindto: '#{{ html_id }}',
    data: {
      columns: {{ graph.field_vals | safe }},
      type: 'bar',
      colors: {{ graph.colors | safe }},
    },
    legend: {
        show: false
    },  
    axis: {
      x: {
        type: 'category',
        categories: {{ graph.x_axis | safe }}
      }
    }
  });
</script>