{% load stats %}
<div class="row">
  <div class="col-md-12 ">
    <h3>{{ title }}</h3>
  </div>
</div>
<div class="content-offset-20" id="{{ html_id }}">
</div>
<div class="row content-offset-20">
  <div class="col-md-12">
    <table class="table table-striped">
      {% for k, v in table.field_vals.items %}
        <tr>
        <td style="color: {{ forloop.counter0 | color }}">
        {{ k }}
        </td>
        <td style="color: {{ forloop.counter0 | color }}">
        {% value_display v %}
        </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
<script>
  c3.generate({
    bindto: '#{{ html_id }}',
    data: {
      columns: {{ graph.field_vals | safe }},
      type: 'pie',
      colors: {{ graph.colors | safe }},
    },
    legend: {
        show: false
    },  
  });
</script>