{% load forms %}
<div ng-show="item.{{ field_name }} !== null {% if is_text or is_char %}&& item.{{ field_name }}.length{% endif %}" class="row">
  <div class="col-md-6">
    {{ label }}
  </div>
  <div class="col-md-6">
    {% if is_boolean %}
    {% icon "fa-check" %}
    {% elif is_date %}
    [[ item.{{ field_name }}|displayDate ]]
    {% elif is_text %}
    <span class="test-markdown" markdown="{{ field_name }}"></span>
    {% else %}
    [[ item.{{ field_name }} ]] {{ unit }}
    {% endif %}
  </div>
</div>