{% load forms %}
<div style="margin-bottom: 10px" class="row">
  {% if bold_if_truthy %}
  <span ng-show="item.{{ field_name }}">
    <strong>
      <div class="col-md-6">
        {{ label }}:
      </div>
      <div class="col-md-6">
        {% if is_boolean %}
        {% icon "fa-check" %}
        {% elif is_date %}
        [[ item.{{ field_name }}|displayDate ]]
        {% else %}
        [[ item.{{ field_name }} ]]
        {% endif %}
      </div>
    </strong>
  </span>
  <span ng-hide="item.{{ field_name }}">
    <div class="col-md-6">
      {{ label }}:
    </div>
    <div class="col-md-6">
      {% if is_boolean %}
      {% icon "fa-check" %}
      {% elif is_date %}
      [[ item.{{ field_name }}|displayDate ]]
      {% else %}
      [[ item.{{ field_name }} ]]
      {% endif %}
    </div>
  </span>
  {% else %}
  <div class="col-md-6">
    {{ label }}:
  </div>
  <div class="col-md-6">
    {% if is_boolean %}
    {% icon "fa-check" %}
    {% elif is_date %}
    [[ item.{{ field_name }}|displayDate ]]
    {% else %}
    [[ item.{{ field_name }} ]]
    {% endif %}
  </div>
  {% endif %}
</div>