<span ng-show="item.date">
    [[ item.date | displayDate ]]
   <br />
</span>
<span ng-show="item.fev_1">
    [[ item.fev_1 ]]
   <br />
</span>
<span ng-show="item.fev_1_post_ventolin">
    [[ item.fev_1_post_ventolin ]]
   <br />
</span>
<span ng-show="item.fev_1_percentage_predicted">
    [[ item.fev_1_percentage_predicted ]]
   <br />
</span>
<span ng-show="item.fvc">
    [[ item.fvc ]]
   <br />
</span>
<span ng-show="item.fvc_post_ventolin">
    [[ item.fvc_post_ventolin ]]
   <br />
</span>
<span ng-show="item.fvc_percentage_predicted">
    [[ item.fvc_percentage_predicted ]]
   <br />
</span>