<div class="row">
  <div style="top: 0" class="view-switcher">
    <div class="row">
      <div class="col-md-12">
        <div class="btn-group" role="group">
          {% for menu_date in view.menu_dates %}
          {% url 'clinic-activity-overview' year=menu_date.0.year as clinic_activity_url %}
          <a href="{{ clinic_activity_url }}" class="btn {% if request.path == clinic_activity_url %}btn-info{% else %}btn-default{% endif %}">
            <h4>
              {{ menu_date.0|date:"Y" }} - {{ menu_date.1|date:"Y" }}
            </h4>
          </a>
          {% endfor %}          
        </div>
      </div>
    </div>
  </div>
</div>
