<div class="row">
  <div class="col-md-12">
  <div class="peak-flow-graph" ng-controller="PeakFlowCtrl" class="col-md-12">
    <div class="col-md-12"></div>
    <div class="panel panel-default record-panel">
      <div class="panel-heading">
        <h3>
          <i class="fa fa-area-chart"></i>
          Peak Flow
          <a href="/pathway/#/peak_flow_day/[[ patient.id ]]/[[ episode.id ]]?trial_num=[[ newTrialNum ]]">
            <i class="fa fa-plus-circle edit pull-right pointer">
            </i>
          </a>
        </h3>
      </div>
    </div>
    <div ng-repeat="peakFlowTrial in graphData" ng-show="peakFlowTrial.days.length > 3">
      <div ng-show="isFromPeakFlowDB(peakFlowTrial.trialNum)">
      {% if permissions.CAN_SEE_TRIALS_FROM_PEAK_FLOW_DB %}
        {% include "partials/peak_flow_graph.html" %}
      {% endif %}
      </div>
      <div ng-show="!isFromPeakFlowDB(peakFlowTrial.trialNum)">
        {% include "partials/peak_flow_graph.html" %}
      </div>
    </div>
  </div>
</div>
</div>