{% load forms %}
<div class="row">
  <div class="col-md-12">
    <h3>
        Peak Flow
    </h3>
  </div>
</div>
<div ng-if="!episode.peak_flow_day.length">
    <div class="row">
        <div class="col-md-12">
          <h1 class="faded">
            No peak flow data available
          </h1>
        </div>
    </div>
</div>
<div ng-if="episode.peak_flow_day.length" class="row">
  <div edit-peak-flow class="peak-flow col-md-12">
    <div style="min-height: 300px; border:"
         ng-show="episode.peak_flow_day.length > 3">
      <div peak-flow-graph id="peakFlow"></div>
    </div>
    <table class="peak-flow table table-bordered content-offset-25" ng-show="episode.peak_flow_day.length > 0">
      <tr>
        <th>
            <div ng-click="addDay()" class="number-display note-link text-center pointer">
              <i class="fa fa-plus-circle pointer"></i>
            </div>
        </th>
        <th class="number-display" ng-repeat="day in episode.peak_flow_day | orderBy:'day_num'">
          [[ day.day_num ]]
        </th>
      </tr>
      <tr>
        <td><div class="row-label">Note</div></td>
        <td ng-repeat="day in episode.peak_flow_day | orderBy:'day_num'">
            <a class="" href="" ng-click="openEditItem(day)">
              <div class="number-display note-link">
                <span ng-show="day.note">
                  {% icon "fa-check" %}
                </span>
              </div>
            </a>
          </span>
        </td>
      </tr>
      <tr ng-repeat="time in times">
        <td>
          <div class="row-label">[[ time ]]</div>
        </td>
        <td ng-class="{editing: isSelected(day.id, time)}" ng-repeat="day in episode.peak_flow_day | orderBy:'day_num'">
          <span class="pointer" ng-click="edit(day, fieldName, time, $event)" ng-repeat="fieldName in [getFieldName($parent.$index)]">
            <input ng-keypress="onEnter($event, day[fieldName])" ng-blur="loseFocus(day[fieldName])" ng-model="day[fieldName]" type="number">
            <div class="number-display">
              [[ day[fieldName] ]]
            </div>
          </span>
        </td>
      </tr>
    </table>
  </div>
</div>
