<div  class="row">
  <div class="col-md-12">
    <h4 class="panel-header-padding">
      <span ng-show="graphData.length > 1">Trial [[ peakFlowTrial.start_date | displayDate ]]</span>
      <a href="/pathway/#/peak_flow_day/[[ patient.id ]]/[[ episode.id ]]?trial_num=[[ peakFlowTrial.trial_num ]]">
        <i class="fa fa-pencil edit pull-right pointer">
        </i>
      </a>
      <a target="_blank" href="/pathway/#/peak_graph_view/[[ patient.id ]]/[[ episode.id ]]?trial_num=[[ peakFlowTrial.trial_num ]]">
        <i class="fa fa-eye edit pull-right pointer">
        </i>
      </a>
    </span>
    </h4>
  </div>
</div>
<div class="row content-offset-below-25 panel-header-padding">
  <div class="col-md-4">
        <strong>
          Overall PF mean:
        </strong>
        &nbsp;
        [[ peakFlowTrial.overrall_mean ]]
        <span ng-show="peakFlowTrial.overrall_mean">litres/minute</span>
  </div>
  <div class="col-md-4">
        <strong>
          Predicted PEF:
        </strong>
        &nbsp;
        [[ peakFlowTrial.pef_mean ]]
        <span ng-show="peakFlowTrial.pef_mean">litres/minute</span>
  </div>
  <div class="col-md-4">
        <strong>
          Completeness:
        </strong>
        &nbsp;
        [[ peakFlowTrial.completeness ]]<span ng-show="peakFlowTrial.completeness">%</span>
        <span ng-show="peakFlowTrial.days.length">
        ([[ peakFlowTrial.complete_days]]/[[ peakFlowTrial.days.length ]] days)
        </span>
  </div>
</div>
<div peak-flow-graph data="peakFlowTrial" highlights="highlights[trial_num]"></div>
  <div ng-show="peakFlowTrial.notes.length" class="row content-offset-below">
    <div class="row">
      <div class="col-md-1 text-right">
        <strong>Notes:</strong>
      </div>
      {# The markdown directive requires a field that is item[directive arg] #}
      <div ng-repeat="item in [peakFlowTrial]" class="col-md-10">
        <div markdown="notes"></div>
      </div>
  </div>
</div>