<div class="row">
  <div ng-controller="PeakFlowCtrl" class="col-md-12">
    <div ng-repeat="peakFlowDayByTrial in peakFlowDaysByTrial">
      <h3>
        Peak Flow
        <span ng-show="peakFlowDaysByTrial.length > 1">
          Trial [[ peakFlowDayByTrial[0].trial_num ]]
          <span>
            <i class="fa fa-plus-circle pull-right pointer edit"
              ng-click="episode.recordEditor.newItem('peak_flow_day', $index)"></i>
      </h3>
      <div style="min-height: 300px;" ng-show="peakFlowDayByTrial.length > 3">
        <div peak-flow-graph episode-id="episode.id" trial-num="peakFlowDayByTrial[0].trial_num"></div>
      </div>
    </div>
  </div>
</div>