<li ng-show="episode.skin_prick_test.length" style="border: none" class="list-group-item">
  <div class="row">
    <div class="col-md-10">
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h5>
        <strong style="text-transform: uppercase;">
          {{ models.SkinPrickTest.get_display_name }}
        </strong>
      </h5>
    </div>
  </div>
  <div class="row" ng-repeat="date in investigations.skinPrickTestDates(episode.skin_prick_test)">
    <div class="col-md-3">
      {% comment %}
      Show if its the first, if there is a date now and the previous date was null, if the date is different to the previous date
      {% endcomment %}
      [[ date | displayDate ]]
    </div>
    <div class="col-md-6">
      <div ng-repeat="item in investigations.skinPrickTestForDate(date, episode.skin_prick_test)" class="row">
        <div class="col-md-12">
          {% include models.SkinPrickTest.get_detail_template %}
        </div>
      </div>
    </div>
    <div class="col-md-1 content-offset-2">
      <a ng-if="date" href="/pathway/#/skin_prick_test/[[ patient.id ]]/[[ episode.id ]]?date=[[ date.format('YYYY-MM-DD') ]]">
        <i class="fa fa-pencil edit pull-right pointer" ></i>
      </a>
      <a ng-if="!date" href="/pathway/#/skin_prick_test/[[ patient.id ]]/[[ episode.id ]]">
        <i class="fa fa-pencil edit pull-right pointer" ></i>
      </a>
    </div>
  </div>
</li>