{% load forms %}
<div class="row">
  <div class="col-md-10">
    {% input field="Demographics.hospital_number" label="Hospital Number" style="vertical"%}
    <div class="row">
      <div class="col-md-5">
        {% input field="Demographics.first_name" style="vertical" %}
      </div>
      <div class="col-md-5 col-md-offset-2">
        {% input field="Demographics.surname" style="vertical" %}
      </div>
    </div>
    {% date_of_birth_field style="vertical" %}
    <div class="row">
      <div class="col-md-5">
        {% select field="Demographics.sex" style="vertical"%}
      </div>
      <div class="col-md-5 col-md-offset-2">
        {% select field="Demographics.ethnicity" style="vertical"%}
      </div>
    </div>
    {% input field="Demographics.birth_place" style="vertical"%}
  </div>
</div>
<div class="row">
  <h2 class="content-offset-25">
    Referral Details
  </h2>
</div>
<div class="row">
  <div class="col-md-10">
    {% include models.Referral.get_form_template %}
  </div>
</div>
