{% load forms %}
<div class="modal-header">
  <button type="button" class="close" ng-click="close()">×</button>
  <h3>
    Add A New Referral
    <span ng-show="episode.demographics[0].first_name && patient.demographics[0].surname" class="ng-binding">
      For [[ patient.demographics[0].first_name ]] [[ patient.demographics[0].surname ]]
    </span>
  </h3>
</div>
<div class="modal-body text-center">
  <p class="lead">
    Add a new referral for [[ patient.demographics[0].first_name ]] [[ patient.demographics[0].surname ]]?
  </p>
  <button class="btn btn-primary btn-save" one-click-only ng-click="add()">
    <i class="fa fa-plus"></i> Add New Referral
  </button>
</div>
<div class="modal-footer">
  <button class="btn" ng-click="cancel()">Cancel</button>
</div>
