{% load forms %}
<div class="modal-header">
  <button type="button" class="close" ng-click="close()">×</button>
  <h3>
    New Episode Referral
    <span ng-show="episode.demographics[0].first_name" class="ng-binding">
      For [[ episode.demographics[0].first_name ]]
    </span>
  </h3>
</div>
<div class="modal-body">
  <form name="form" ng-submit="" class="form-horizontal" novalidate>
    {% include models.Referral.get_form_template %}
  </form>
</div>
<div class="modal-footer">
  <button class="btn" ng-click="close()">Cancel</button>
  <button class="btn btn-primary btn-save" one-click-only ng-click="save()">
    Create new episode
  </button>
</div>
