{% extends 'patient_detail_base.html' %}
{% block content %}
  <div class="view-switcher">
    <div class="row">
      <div class="col-md-12">
        <div class="btn-group" role="group">
          <a ng-repeat='e in patient.episodes' ng-class="{'btn-info': !view, 'btn-default': view}" href="[[ '/#' + e.link ]]" class="btn">
            <h4>Clinic: [[ e.clinic_log[0].clinic_date | displayDate ]]</h4>
          </a>
          <a class="btn-default btn" href="#">
            <h4>New Episode <i class="fa fa-plus"></i></h4>
          </a>
          <a ng-class="{'btn-info': view, 'btn-default': !view}" href="/#/patient/[[ patient.id ]]/investigations" class="btn">
            <h4>Investigations ([[ patient|testCount ]])</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="!view">
    {% include 'detail/occld.html' %}
  </div>
  <div ng-show="view === 'investigations'">
    {% include 'detail/investigations.html' %}
  </div>
{% endblock %}
