{% extends 'patient_detail_base.html' %}
{% block content %}
  <div class="view-switcher">
    <div class="row">
      <div class="col-md-12">
        <div ng-controller="MenuHelper as menuHelper" class="btn-group" role="group">
          {# If there is are only 2 or fewer episodes #}
          <a ng-if="patient.episodes.length < 3" ng-repeat='e in menuHelper.orderEpisodes(patient.episodes)' ng-class="{'btn-info': !view && e.id === episode.id, 'btn-default': view || e.id !== episode.id}" href="[[ '/#' + e.link ]]" class="btn">
            <h4>
              <span ng-show="e.referral[0].occld">OCCLD</span>
              <span ng-hide="e.referral[0].occld">Non-OCCLD</span>
              <span ng-if="menuHelper.getSignificantDate(e)">: [[ menuHelper.getSignificantDate(e) | displayDate ]]</span>
            </h4>
          </a>

          {# If there is are more than 3 episodes #}

          <a ng-if="patient.episodes.length > 2" ng-class="{'btn-info': !view, 'btn-default': view}" href="[[ '/#' + episode.link ]]" class="btn">
            <h4 ng-show="episode.referral[0].occld">
              OCCLD<span ng-show="episode.clinic_log[0].clinic_date">: [[ episode.clinic_log[0].clinic_date | displayDate ]]</span>
            </h4>
            <h4 ng-hide="episode.referral[0].occld">
              Non-OCCLD<span ng-if="menuHelper.findBloodDate(episode)">: [[ menuHelper.findBloodDate(episode) | displayDate ]]</span>
            </h4>
          </a>
          <div ng-if="patient.episodes.length > 2" class="btn-group" uib-dropdown is-open="status.isopen">
            <button type="button" class="btn btn-default" uib-dropdown-toggle id="list-dropdown">
              <h4>
                Other Episodes ([[ patient.episodes.length - 1]])
                <i class="fa fa-angle-down"></i>
              </h4>
            </button>
            <ul class="uib-dropdown-menu slides" role="menu" aria-labelledby="list-dropdown">
              <li ng-show='e.id !== episode.id' ng-repeat="e in menuHelper.orderEpisodes(patient.episodes)">
                <a href="[[ '/#' + e.link ]]">
                  <h4>
                    <span ng-show="e.referral[0].occld">OCCLD</span>
                    <span ng-hide="e.referral[0].occld">Non-OCCLD</span>
                    <span ng-if="menuHelper.getSignificantDate(e)">: [[ menuHelper.getSignificantDate(e) | displayDate ]]</span>
                  </h4>
                </a>
              </li>
            </ul>
          </div>

          <a ng-click="menuHelper.addEpisode(episode, refresh)" class="btn-default btn pointer">
            <h4>New Episode <i class="fa fa-plus"></i></h4>
          </a>
          <a ng-class="{'btn-info': view, 'btn-default': !view}" href="/#/patient/[[ patient.id ]]/investigations" class="btn">
            <h4>Investigations ([[ patient|testCount ]])</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="!view">
    {% include 'detail/occld.html' %}
  </div>
  <div ng-show="view === 'investigations'">
    {% include 'detail/investigations.html' %}
  </div>
{% endblock %}
