{% extends 'patient_detail_base.html' %}
{% block content %}
<div style="position: fixed; top: 4px; right: 237px; z-index: 1001;"> <div class="row">
    <div class="col-md-12">
      <div class="btn-group" role="group">
        <a ng-class="{'btn-info': !view, 'btn-default': view}" href="/#/patient/[[ patient.id ]]" style="padding: 0px 20px; margin-top: 4px;" class="btn">
          <h4 style="margin-top: 7px; margin-bottom: 6px">Summary</h4>
        </a>
        <a ng-class="{'btn-info': view, 'btn-default': !view}" href="/#/patient/[[ patient.id ]]/investigations" style="padding: 0px 20px; margin-top: 4px;" type="button" class="btn">
          <h4 style="margin-top: 7px; margin-bottom: 6px">Investigations</h4>
        </a>
      </div>
    </div>
  </div>
</div>
  <div ng-show="!view">
    {% include 'detail/ocld.html' %}
  </div>
  <div ng-show="view === 'investigations'">
    {% include 'detail/investigations.html' %}
  </div>
{% endblock %}
