$red: rgba(208, 28, 23, 1);
$blue: rgba(70, 118, 197, 1);
$dark-blue: darken($blue, 10%);
$bluegreen: rgba(58, 138, 138, 1);
$green: rgba(46, 153, 62, 1);
$orange: rgba(225, 132, 0, 1);
$indigo: $blue;

$black: rgb(44, 45, 48);
$slate: rgb(67, 76, 61);
$lightgrey: #ccc;

$twocolwidth: 16.6666666667%;

%nav-bar-heading{
    position: fixed;
    top: 0px;
    z-index: 1001;
    margin-top: -16px;
    padding-top: 0px;
    padding-bottom: 0px;
    background: transparent;
}

// bootstrap uses width 100%.
// when there is a vertical scroll bar
// this is a different value.
// doing this means the page does not
// jump when there is a scroll bar.
// Forcing a scroll bar looks good.
html, body{
    overflow-y: scroll;
    height: 100%;
    @media print{
        overflow: visible;
    }
}

/* Layout */
#center-col {
    margin-left: $twocolwidth;
}
.loading {
    margin-left: $twocolwidth;
    width: 100%;
    display: none;
}

@media (min-width: 1200px){
  .container {
      width: calc(100% - #{$twocolwidth})
  }
}

a {
    transition: none;
}

#left-col {
    height: 100%;
    max-width: 300px;
}
.navbar {
  height: 50px;
}
.navbar-fixed-top {
    left: 230px;
}
.top-navbar {
    border-bottom: 1px solid $lightgrey;
    left: auto;
    right: 0px;
    width: 83.33333333333%;
    z-index: 1000;
}

.outer-container {
    height: initial;
    min-height: calc(100vh - 64px);
}

.nav-pills li a {
    padding-top: 3px;
    padding-bottom: 2px;
}
.nav-pills li i {
    margin-right: 4px;
}
.nav-pills li {
    height: 26px;
}

// .panel.panel-primary.patient-detail .patient-detail-heading {
//   position: fixed;
//   top: 0px;
//    z-index: 2999;
// }
// .panel.panel-primary .panel-heading.patient-list-header,
// .panel.panel-primary .panel-heading.pathway-header{
//   background: none;
//   position: fixed;
//   top: 0px;
//   z-index: 2999;
//   padding: 0px
// }

// .pathway-header h2,
// .patient-detail-deader h2,
// .panel.panel-primary.patient-detail .patient-detail-heading h1{
//   background: none;
//   font-size: 18px;
//   font-weight: bold;

//   padding: 0px;
//   margin: 0px;
//   margin-top: 12px;
// }
// .panel.panel-primary.patient-detail .patient-detail-heading h1 small{
//   display: block;
//   margin-top: 4px;
//   font-size: 13px;
//   color: #717274;
// }

.panel-footer .btn {
  float: right;
}

.static-content {
  top: 60px;
  position: absolute;
  // add a 20px gutter before we start displaying data
  left: calc(#{$twocolwidth} + 20px);
  width: calc(100% - #{$twocolwidth} - 80px);

  @media print{
    left: 0%;
    width: 100%;
  }
}
/**** Colours ****/

body{
    background-color: white;
}
h1 small {
    color: $slate;
}
#left-col {
    background: $blue;
    // height: 99vh;
    position: fixed;

}
#center-col {
    background: white;
    margin-left: $twocolwidth;
    min-height: 100%;

    @media print{
        margin-left: 0 !important;
        // stops the peak flow graph from printing
        // a subsequent empty page
        border: 1px solid white;
    }
}
#left-col h1 small {
  color: white;
}
#left-col .nav-pills li.active a {
    background: $bluegreen;
    border-radius: 0px;
    color: white;
}
.nav-pills li a:hover{
    background:    rgb(57, 47, 55)
}
.green{
    color: $green;
}


body,
h1 small {
  font-size: 15px;
}
.panel h2 {
    color: $slate;
    font-weight: bold;
    letter-spacing: 1px;
}
table {
    font-size: inherit;
}
#left-col a {
    color: white;
}
a {
    color: $blue;
}


.panel.panel-primary .panel-heading a{
    color: $dark-blue;
}
.panel.panel-primary .panel-heading a:hover{
    color: grey;
}

#left-col,
#left-col .nav a{
    color: white;
}
#left-col h1 {
    margin-left: 18px;
    font-size: 18px;
    color: white;
}
#left-col h2{
    margin-left: 18px;
    font-size: 16px;
}
#left-col h2 i{
    font-size: 12px;
    color:  white;
    margin-right: 2px;
}

#left-col h3 {
  font-size: 14px;
  margin-left: 18px;
}
/* Component reskins */
.ngProgressLiteBar {
    display: none;
}

.panel {
  border: none;
  background: none;
  box-shadow: none;
  border-radius: 0px;
}
.panel-default .panel-body{
  background: white;
}
.panel-default .panel-heading{
  padding-left: 0px;
}

.panel.panel-primary .panel-heading {
    background: white;
    color: $slate;
    padding-left: 20px;
    border-bottom: none;
}

.panel.panel-default.record-panel .panel-heading {
  background: white;
  border: none;
  color: $black;
  border-bottom: 1px solid $bluegreen;
  padding-left: 20px
}
.panel-footer {
  background: none;
  border: none;
}

.btn{
    box-shadow: none;
    border-color: $lightgrey;
    // border: none;
    border-radius: .25rem;
    padding-top: 18px;
    padding-bottom: 18px;
}

// date picker btns
.dropdown-menu .btn{
    padding: 5px 10px;
}

.btn.btn-primary {
    background: $red;
    border: none;
}
.btn.btn-secondary {
    background: white;
    color: $black;
    border: 1px solid $lightgrey;
}

.btn-cancel{
    margin-right: 20px;
    border: 1px solid $lightgrey;
}


.panel.login{
    border: 1px solid #ccc;
    padding: 12px;
    width: 200%;
    margin-left: -160px;
    background: white;

    table{
        width: 100%;
        th{
            display: none;
        }
    }

    .panel-heading{
        background: white;
        position: relative;

        h1{
            text-align: center;
            font-weight: bold;
            color: $black;
        }

        img{
            position: absolute;
            right: 0px;
            bottom: 10px;
        }
    }

    .panel-body img{
        float: none;
        height: initial;
        width: 100%;
    }

    .btn.btn-primary {
        width: 100%;
        font-size: 18px;
    }

    input[type=text], input[type=password], input[type=number]  {
        font-size: 20px;
        line-height: 34px;
        height: 56px;
        margin-bottom: 20px;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        border: 1px solid rgb(204, 204, 204);
        padding: 12px 6px;
        width: 100%;
    }
}


.edit {
  color: $lightgrey;
}
.no-touchevents .panel-heading i.edit, .list-group-item i.edit, .list-group-item i.delete {
  display: block;
}
.modal-header{
    background: $indigo;
}
.panel.panel-primary .panel-heading.patient-detail-heading,
.panel.panel-primary .panel-heading.pathway-header{
    @extend %nav-bar-heading;
}

.patient-detail{
    .panel-body{
        margin-top: 30px;
    }
}

.panel-header-padding{
    // mirrors the panel header padding
    padding-left: 20px;
    padding-right: 20px;
}

.legacy_content p br  {
    content: "A" !important;
    display: block !important;
    margin-bottom: 0.6em !important;
    margin-top: 6px;
}


.peak-flow-grid {
    margin-left: 24px;
}

.peak-flow-grid input {
    width: 80%;
}


.c3-region.workingday {
    fill: $blue;
}

.c3-dashed-line {
    stroke-dasharray: 3, 3;
}

.c3-line {
    stroke-width: 3px;
}

.peak-flow-graph{
    .c3 svg{
        font-size: 15px;
        font-family: 'Lato', sans-serif;
        overflow: visible !important;
    }

    line.treatment-0{
        fill: scale-color(#008C21, $alpha: -30%);
        stroke: scale-color(#008C21, $alpha: -30%);
    }

    line.treatment-1{
        fill: scale-color(#00400F, $alpha: -30%);
        stroke: scale-color(#00400F, $alpha: -30%);
    }

    line.treatment-2{
        fill: scale-color(#40060B, $alpha: -30%);
        stroke: scale-color(#40060B, $alpha: -30%);
    }

    .treatment-dash-lines{
        stroke: #999;
        fill: #999;
    }

    .upper-variability{
        fill: $red;
    }

    .variability{
        font-size: 17px;
    }
}

.bottom-menu{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 30px;
    display: block;
    padding-top: 10px;

    hr{
        margin-left: 10px;
        margin-right: 10px;
        border-top: 2px solid white;
        display: block;
    }
}

.horizontal-form{
    padding-left: 20px;
    padding-right: 20px;

    .control-label{
        margin-bottom: 5px;
        padding-top: 0px;
    }

    .checkbox{
        margin-top: 32px;
    }
}

.form-row{
    height: 59px;
}

// hides the html5 datepicker
input::-webkit-calendar-picker-indicator{
    display: none;
}
input[type="date"]::-webkit-input-placeholder{
    visibility: hidden !important;
}

// fixes up/down arrows on select2
.ui-select-choices-row.active{
    background-color: #f5f5f5;
}
.ui-select-match-text {
    font-size: 18px;
    margin-top: -9px;
}
.ui-select-choices-row-inner{
    font-size: 18px;
}

.rbhl-radio{
    input.work-day {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 8px;
        border-radius: 50%;
        border: 2px solid #999;
    }

    input.work-day:checked {
        border: 7px solid $blue;
        padding: 3px;
    }

    .label-text{
        display: inline-block;
        padding-left: 10px;
        margin-top: 3px;
    }

}

.panel-pathway .peak-flow-step{
    textarea{
        font-size: 18px;
        resize: vertical;
        padding: 6px 12px;
    }

    .flow-table{
        padding-top: 8px;
        padding-bottom: 8px;
        line-height: 1.428571429;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }

    .remove-flow{
        padding: 0 7px;
        font-size: 16px;
        margin-top: 8px;
        font-weight: 600;
    }

    .add-flow{
        margin-top: 25px;
        padding-top: 11px;
        padding-bottom: 12px
    }

    .validation-error{
        display: none;
    }

    .errored-state .validation-error{
        display: block;
    }

    .form-horizontal .control-label.radio-label{
        padding-top: 0;
    }
}

.content-offset-below-100{
    margin-bottom: 100px
}

.content-offset-below-0{
    margin-bottom: 0;
}

.edit-item-padding{
    padding-right: 34px;
}

.edit-item{
    position: absolute;
    right: 10px;
    top: 0
}

.table-sortable{
    th.sorting-desc:after{
        content: "￬";
        font-size: 18px;
    }
    th.sorting-asc:after{
        content: "￪";
        font-size: 18px;
    }

    a{
        color: $slate;
    }
    a:hover, a:active, a:focus{
        text-decoration: none;
        color: $blue;
    }
}

.pathway-fixed-button{
    position: fixed;
    right: 15%;
    top: 111px
}

.view-switcher{
    position: absolute;
    top: 53px;
    right: 28px;
    z-index: 10;

    .btn{
        padding: 0px 20px; margin-top: 4px;
    }

    .btn.btn-info {
        background: $dark-blue;
        border-color: $dark-blue;
    }

    h4{
        margin-top: 7px;
        margin-bottom: 6px
    }
}

.add-button{
    font-size: 18px;
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    margin-top: 10px
}


.patient-detail{
    .lab-view{
        .panel-body{
            margin-top: 0;
        }
        padding-left: 15px;
        padding-right: 15px;
    }

    li{
        border-top: 1px solid #eee;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .test-row{
        margin-bottom: 25px;
    }
}

.skin-prick-test-pathway{
    padding-left: 10px;
    padding-right: 10px;

    .error{
        background-color: lighten($red, 35%);
    }

    .remove-button{
        display: inline-block;
        height: 30px;
        margin-top: 20px;
        padding: 10px;
        padding-bottom: 30px;
        font-size: 16px
    }

    .add-button{
        display: inline-block;
        height: 30px;
        margin-top: 20px;
        padding: 10px;
        padding-bottom: 30px;
        font-size: 16px
    }

    .antihistamines{
        padding-left: 30px;
        padding-top: 12px;
    }
}

.btn.nad-button{
    padding-left: 30px;
    padding-right: 30px;
}

.btn.diagnosis-btn{
    font-size: 18px;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    margin-top: 10px;
    overflow: hidden;
}


.extract-search-form{
    .btn{
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.form-group label{
    font-size: 15px;
}

h1.static-title{
    margin-top: 4px;
    margin-left: 25px;
    font-size: 36px;
    color: $slate;
    display: inline-block;

    a{
        color: $slate;
        &:hover{
            text-decoration: none;
            color: $dark-blue;
        }
    }

    i{
        font-size: 36px;
    }
}

@media print{
    @page {
        margin-top: 1cm;
        margin-bottom: 1cm;
        svg{
            object-fit: contain;
            page-break-inside: avoid;
        }
    }
}