/* Layout */
#center-col {
  margin-left: 16.6666666667%;
}

.loading {
  margin-left: 16.6666666667%;
  width: 100%;
  display: none;
}

@media (min-width: 1200px) {
  .container {
    width: calc(1170px - 16.6666666667%);
  }
}
a {
  transition: none;
}

#left-col {
  height: 100%;
  max-width: 300px;
}

.navbar {
  height: 50px;
}

.navbar-fixed-top {
  left: 230px;
}

.top-navbar {
  border-bottom: 1px solid #ccc;
  left: auto;
  right: 0px;
  width: 83.3333333333%;
  z-index: 1000;
}

.outer-container {
  height: initial;
  min-height: calc(100vh - 64px);
}

.nav-pills li a {
  padding-top: 3px;
  padding-bottom: 2px;
}

.nav-pills li i {
  margin-right: 4px;
}

.nav-pills li {
  height: 26px;
}

.panel-footer .btn {
  float: right;
}

.static-content {
  top: 60px;
  position: absolute;
  left: 300px;
  width: 80%;
}

/**** Colours ****/
body {
  background-color: white;
}

h1 small {
  color: #434c3d;
}

#left-col {
  background: #4676c5;
  position: fixed;
}

#center-col {
  background: white;
}

#left-col h1 small {
  color: white;
}

#left-col .nav-pills li.active a {
  background: #3a8a8a;
  border-radius: 0px;
  color: white;
}

.nav-pills li a:hover {
  background: #392f37;
}

.green {
  color: #2e993e;
}

/* Fonts */
.panel-primary.login .panel-heading h1 {
  color: #2c2d30;
}

body,
h1 small {
  font-size: 15px;
}

.panel h2 {
  color: #434c3d;
  font-weight: bold;
  letter-spacing: 1px;
}

table {
  font-size: inherit;
}

#left-col a {
  color: white;
}

a {
  color: #4676c5;
}

.panel.panel-primary .panel-heading a {
  color: #434c3d;
}

.panel.panel-primary .panel-heading a:hover {
  color: grey;
}

#left-col,
#left-col .nav a {
  color: white;
}

#left-col h1 {
  margin-left: 18px;
  font-size: 18px;
  color: white;
}

#left-col h2 {
  margin-left: 18px;
  font-size: 16px;
}

#left-col h2 i {
  font-size: 12px;
  color: white;
  margin-right: 2px;
}

#left-col h3 {
  font-size: 14px;
  margin-left: 18px;
}

/* Component reskins */
.ngProgressLiteBar {
  display: none;
}

.panel {
  border: none;
  background: none;
  box-shadow: none;
  border-radius: 0px;
}

.panel-default .panel-body {
  background: white;
}

.panel-default .panel-heading {
  padding-left: 0px;
}

.panel.panel-primary .panel-heading {
  background: white;
  color: #434c3d;
  padding-left: 20px;
  border-bottom: none;
}

.panel.panel-default.record-panel .panel-heading {
  background: white;
  border: none;
  color: #2c2d30;
  border-bottom: 1px solid #3a8a8a;
  padding-left: 20px;
}

.panel-footer {
  background: none;
  border: none;
}

.btn:not(.dropdown-menu .btn) {
  box-shadow: none;
  border-color: #ccc;
  border-radius: 0.25rem;
  padding-top: 18px;
  padding-bottom: 18px;
}

.btn.btn-primary {
  background: #d01c17;
}

.btn.btn-secondary {
  background: white;
  color: #2c2d30;
}

.btn-cancel {
  margin-right: 20px;
}

.panel.login {
  border: 1px solid #ccc;
  padding: 12px;
  width: 200%;
  margin-left: -160px;
  background: white;
}
.panel.login table {
  width: 100%;
}
.panel.login table th {
  display: none;
}
.panel.login .panel-heading {
  background: white;
}
.panel.login .panel-heading h1 {
  text-align: center;
  font-weight: bold;
}
.panel.login .panel-body img {
  float: none;
  height: initial;
  width: 100%;
}
.panel.login .btn.btn-primary {
  width: 100%;
}
.panel.login input[type=text], .panel.login input[type=password], .panel.login input[type=number] {
  font-size: 20px;
  line-height: 34px;
  height: 56px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #cccccc;
  padding: 12px 6px;
  width: 100%;
}

.edit {
  color: #ccc;
}

.no-touchevents .panel-heading i.edit, .list-group-item i.edit, .list-group-item i.delete {
  display: block;
}

.modal-header {
  background: #4123BF;
}

.panel.panel-primary .panel-heading.patient-detail-heading,
.patient-detail-heading {
  position: fixed;
  top: 0px;
  z-index: 1001;
  margin-top: -16px;
  padding-top: 0px;
  padding-bottom: 0px;
  background: transparent;
}

.legacy_content p br {
  content: "A" !important;
  display: block !important;
  margin-bottom: 0.6em !important;
  margin-top: 6px;
}

.peak-flow-grid {
  margin-left: 24px;
}

.peak-flow-grid input {
  width: 80%;
}

.c3-region.workingday {
  fill: red;
}

.horizontal-form {
  padding-left: 20px;
  padding-right: 20px;
}

.form-row {
  height: 59px;
}

/*# sourceMappingURL=rbhl.css.map */
