$red: rgba(208, 28, 23, 1);
$blue: rgba(70, 118, 197, 1);
$bluegreen: rgba(58, 138, 138, 1);
$green: rgba(46, 153, 62, 1);
$orange: rgba(225, 132, 0, 1);
$indigo: #4123BF;

$black: rgb(44, 45, 48);
$slate: rgb(67, 76, 61);
$lightgrey: #ccc;

$twocolwidth: 16.6666666667%;


/* Layout */
#center-col {
    margin-left: $twocolwidth;
}
.loading {
    margin-left: $twocolwidth;
    width: 100%;
    display: none;
}

@media (min-width: 1200px){
  .container {
      // Why doesn't this accept $twocolwidth ?
      width: calc(1170px - 16.6666666667%);
  }
}

a {
    transition: none;
}

#left-col {
    height: 100%;
    max-width: 300px;
}
.navbar {
  height: 50px;
}
.navbar-fixed-top {
    left: 230px;
}
.top-navbar {
    border-bottom: 1px solid $lightgrey;
    left: auto;
    right: 0px;
    width: 83.33333333333%;
    z-index: 1000;
}

.outer-container {
    height: initial;
    min-height: calc(100vh - 64px);
}

.nav-pills li a {
    padding-top: 3px;
    padding-bottom: 2px;
}
.nav-pills li i {
    margin-right: 4px;
}
.nav-pills li {
    height: 26px;
}

// .panel.panel-primary.patient-detail .patient-detail-heading {
//   position: fixed;
//   top: 0px;
//    z-index: 2999;
// }
// .panel.panel-primary .panel-heading.patient-list-header,
// .panel.panel-primary .panel-heading.pathway-header{
//   background: none;
//   position: fixed;
//   top: 0px;
//   z-index: 2999;
//   padding: 0px
// }

// .pathway-header h2,
// .patient-detail-deader h2,
// .panel.panel-primary.patient-detail .patient-detail-heading h1{
//   background: none;
//   font-size: 18px;
//   font-weight: bold;

//   padding: 0px;
//   margin: 0px;
//   margin-top: 12px;
// }
// .panel.panel-primary.patient-detail .patient-detail-heading h1 small{
//   display: block;
//   margin-top: 4px;
//   font-size: 13px;
//   color: #717274;
// }

.panel-footer .btn {
  float: right;
}

.static-content {
  top: 60px;
  position: absolute;
  left: 300px;
  // height: 90vh;
  width: 80%;
}
/**** Colours ****/

body{
    background-color: white;
}
h1 small {
    color: $slate;
}
#left-col {
    background: $blue;
    // height: 99vh;
    position: fixed;

}
#center-col {
    background: white;
}
#left-col h1 small {
  color: white;
}
#left-col .nav-pills li.active a {
    background: $bluegreen;
    border-radius: 0px;
    color: white;
}
.nav-pills li a:hover{
    background:    rgb(57, 47, 55)
}
.green{
    color: $green;
}
/* Fonts */
.panel-primary.login .panel-heading h1 {
    color: $black;
}
body,
h1 small {
  font-size: 15px;
}
.panel h2 {
    color: $slate;
    font-weight: bold;
    letter-spacing: 1px;
}
table {
    font-size: inherit;
}
#left-col a {
    color: white;
}
a {
    color: $blue;
}


.panel.panel-primary .panel-heading a{
    color: $slate;
}
.panel.panel-primary .panel-heading a:hover{
    color: grey;
}

#left-col,
#left-col .nav a{
    color: white;
}
#left-col h1 {
    margin-left: 18px;
    font-size: 18px;
    color: white;
}
#left-col h2{
    margin-left: 18px;
    font-size: 16px;
}
#left-col h2 i{
    font-size: 12px;
    color:  white;
    margin-right: 2px;
}

#left-col h3 {
  font-size: 14px;
  margin-left: 18px;
}
/* Component reskins */
.ngProgressLiteBar {
    display: none;
}

.panel {
  border: none;
  background: none;
  box-shadow: none;
  border-radius: 0px;
}
.panel-default .panel-body{
  background: white;
}
.panel-default .panel-heading{
  padding-left: 0px;
}

.panel.panel-primary .panel-heading {
    background: white;
    color: $slate;
    padding-left: 20px;
    border-bottom: none;
}

.panel.panel-default.record-panel .panel-heading {
  background: white;
  border: none;
  color: $black;
  border-bottom: 1px solid $bluegreen;
  padding-left: 20px
}
.panel-footer {
  background: none;
  border: none;
}

// drop drop down menus, these are date pickers
.btn:not(.dropdown-menu .btn){
    box-shadow: none;
    border-color: $lightgrey;
    // border: none;
    border-radius: .25rem;
    padding-top: 18px;
    padding-bottom: 18px;
}
.btn.btn-primary {
    background: $red;
}
.btn.btn-secondary {
    background: white;
    color: $black;
    border: 1px solid $lightgrey;
}

.btn-cancel{
    margin-right: 20px;
    border: 1px solid $lightgrey;
}

.panel.login{
    border: 1px solid #ccc;
    padding: 12px;
    width: 200%;
    margin-left: -160px;
    background: white;

    table{
        width: 100%;
        th{
            display: none;
        }
    }

    .panel-heading{
        background: white;

        h1{
            text-align: center;
            font-weight: bold;
        }
    }

    .panel-body img{
        float: none;
        height: initial;
        width: 100%;
    }

    .btn.btn-primary {
        width: 100%;
    }

    input[type=text], input[type=password], input[type=number]  {
        font-size: 20px;
        line-height: 34px;
        height: 56px;
        margin-bottom: 20px;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        border: 1px solid rgb(204, 204, 204);
        padding: 12px 6px;
        width: 100%;
    }
}


.edit {
  color: $lightgrey;
}
.no-touchevents .panel-heading i.edit, .list-group-item i.edit, .list-group-item i.delete {
  display: block;
}
.modal-header{
    background: $indigo;
}
.panel.panel-primary .panel-heading.patient-detail-heading,
.patient-detail-heading {
    position: fixed;
    top: 0px;
    z-index: 1001;
    margin-top: -16px;
    padding-top: 0px;
    padding-bottom: 0px;
    background: transparent;
}

.legacy_content p br  {
    content: "A" !important;
    display: block !important;
    margin-bottom: 0.6em !important;
    margin-top: 6px;
}


.peak-flow-grid {
    margin-left: 24px;
}

.peak-flow-grid input {
    width: 80%;
}


.c3-region.workingday {
    fill: red;
}

.bottom-menu{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 30px;
    display: block;
    padding-top: 10px;

    hr{
        margin-left: 10px;
        margin-right: 10px;
        border-top: 2px solid white;
        display: block;
    }
}

.horizontal-form{
    padding-left: 20px;
    padding-right: 20px;
}

.form-row{
    height: 59px;
}