{% extends 'patient_lists/static_patient_list_base.html' %}

{% block patient_list_name %}
<h1>Your recently resulted samples</h1>
{% endblock %}
{% block patient_list_table %}
<p class="lead">
  A list of samples that have recently processed for patients seen by you ({{ view.initials }})
</p>
<table class="table table-striped table-hover table-sortable">
  <tr>
    {% include "partials/table_header.html" with display_name="Name" slug="name" %}
    {% include "partials/table_header.html" with display_name="Sample received" slug="blood_date" %}
    {% include "partials/table_header.html" with display_name="Exposure" slug="exposure" %}
    {% include "partials/table_header.html" with display_name="Room" slug="room" %}
    {% include "partials/table_header.html" with display_name="Freezer" slug="freezer" %}
    {% include "partials/table_header.html" with display_name="Tray" slug="tray" %}
    {% include "partials/table_header.html" with display_name="Vials" slug="vials" %}
  </tr>
  {% for blood_book in object_list %}
    <tr onclick=window.location="/#/patient/{{ blood_book.patient_id }}/investigations" class="pointer">
      <td>{{ blood_book.patient.demographics_set.all.0.name }}</td>
      <td>{{ blood_book.blood_date }}</td>
      <td>{{ blood_book.exposure }}</td>
      <td>{{ blood_book.room }}</td>
      <td>{{ blood_book.freezer }}</td>
      <td>{{ blood_book.tray }}</td>
      <td>{{ blood_book.vials }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}