{% load forms %}
<div pathway-step="{{ step.get_api_name }}">
  <div ng-repeat="editing in [bloodBookTest]">
    <!-- Blood information -->
    <div class="row">
      <div class="col-md-6">
        <div class="horizontal-form">
          {% input field="BloodBook.blood_number" style="vertical" %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="horizontal-form">
          {% datepicker field="BloodBook.blood_taken" style="vertical" %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="horizontal-form">
          {% datepicker field="BloodBook.blood_date" style="vertical" %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="horizontal-form">
          {% checkbox field="BloodBook.store" style="vertical" %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="horizontal-form">
          {% textarea field="BloodBook.comment" style="vertical" %}
        </div>
      </div>
    </div>
    <hr>
    <!-- Blood location -->
    <div class="row">
      <div class="col-md-4">
        <div class="horizontal-form">
        {% input field="BloodBook.room" style="vertical" %}
        </div>
      </div>
      <div class="col-md-4">
        <div class="horizontal-form">
        {% input field="BloodBook.freezer" style="vertical" %}
        </div>
      </div>
      <div class="col-md-4">
        <div class="horizontal-form">
        {% input field="BloodBook.shelf" style="vertical" %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="horizontal-form">
        {% input field="BloodBook.tray" style="vertical" %}
        </div>
      </div>
      <div class="col-md-4">
        <div class="horizontal-form">
        {% input field="BloodBook.vials" style="vertical" %}
        </div>
      </div>
    </div>
    <hr>
    <!-- Assay information -->
    <div class="row">
      <div class="col-md-6">
        <div class="horizontal-form">
          {% input field="BloodBook.assayno" style="vertical" %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="horizontal-form">
          {% datepicker field="BloodBook.assay_date" style="vertical" %}
        </div>
      </div>
    </div>
    <hr>

    <!-- Report information -->
    <div class="row">
      <div class="col-md-6">
        <div class="horizontal-form">
          {% datepicker field="BloodBook.report_dt" style="vertical" %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="horizontal-form">
          {% datepicker field="BloodBook.report_st" style="vertical" %}
        </div>
      </div>
    </div>
    <hr>

    <!-- Test information -->
    <div class="row">
      <div class="col-md-6">
        <div class="horizontal-form">
          {% input field="BloodBook.exposure" style="vertical" %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="horizontal-form">
          {% select field="BloodBook.method" style="vertical" %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="horizontal-form">
          {% select field="BloodBook.antigen_type" style="vertical" %}
        </div>
      </div>
    </div>
    <hr>

    <!-- Restuls -->
    <div class="col-md-12">
      <div class="row">
      <h2>Results <small><i class="fa pointer fa-plus-circle" ng-click="addResult()"></i></small></h2>
      </div>
    </div>
    <div class="row" ng-show="!editing.blood_book.bloodbookresult.length">
      <div class="col-md-12 text-center">
        <h1 class="text-muted">No results recorded</h1>
      </div>
    </div>
    <div ng-repeat="result in editing.blood_book.bloodbookresult">
      <div class="row">
        <div class="col-md-2">
          <div class="col-md-12">
            <h2>[[ $index + 1 ]] <small><i class="fa pointer fa-trash-o" ng-click="removeResult($index)"></i></small></h2>
          </div>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-6">
              {% input label="Allergen" model="result.allergen" style="vertical" lookuplist="allergen_list" %}
            </div>
            <div class="col-md-6">
              {% input label="Antigen number" model="result.antigenno" style="vertical" %}
            </div>
          </div>
          <div class="row" ng-show="result.result">
            <div class="col-md-12">
              {% input label="Result" model="result.result" style="vertical" %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label>
                  KU/L
                </label>
                <div ng-class="{'errored-state': form.$submitted && form['result_kul' + $index].$invalid}">
                  <input class="form-control" type="text" ng-model="result.kul" autocomplete="off" ng-pattern="/^[<>]?\s?\d+(\.\d+)?$/" name="[[ 'result_kul' + $index  ]]">
                </div>
                <span class="help-block" ng-show="form.$submitted && form['result_kul' + $index].$invalid">
                  KU/L must be a number or less than/greater than a number. <br />e.g. 1.2 or < 0.35
                </span>
              </div>
            </div>
            <div class="col-md-3">
              {% input label="Class" model="result.klass" element_type="number" style="vertical" %}
            </div>
            <div class="col-md-3">
              {% input label="RAST %B" model="result.rast" style="vertical" element_type="number" %}
            </div>
            <div class="col-md-3">
              {% input label="RAST score" model="result.rast_score" style="vertical" element_type="number" %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              {% select label="Precipitin" model="result.precipitin" lookuplist="['-ve', '+ve', 'Weak +ve', '++ve']" style="vertical" %}
            </div>
            <div class="col-md-3">
              {% input label="IgG mg/L" element_type="number" model="result.igg" style="vertical" %}
            </div>
            <div class="col-md-3">
              {% input label="IgG class" model="result.iggclass" element_type="number" style="vertical" %}
            </div>
          </div>
        </div>
      </div>
      <hr ng-show="!$last">
    </div>
  </div>
  <div class="row content-offset content-offset-below-50">
    <div class="col-md-12">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="text-center" ng-show="form.$submitted && form.$invalid">
        <strong class="help-block">Please fix errors</strong>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button ng-show="bloodBookTest.blood_book.id" class="btn btn-lg btn-secondary btn-delete"
      ng-click="delete()"
      >
        <i class="fa fa-trash-o"></i>
        Delete
      </button>
    </div>
    <div class="col-md-6 text-right">
      <button class="btn btn-lg btn-primary btn-save"
      ng-click="form.$valid && pathway.finish(editing)"
      >
        <i class="[[ pathway.finish_button_icon ]]"></i>
        [[ pathway.finish_button_text ]]
      </button>
  </div>
</div>
