{% load forms %}
<div pathway-step="{{ step.get_api_name }}">
  <div ng-repeat="editing in [bloodBookTest]">
    <!-- Employer/referral details -->
    <div class="row">
      <div class="col-md-6">
        <div class="horizontal-form">
          {% input field="BloodBook.oh_provider" style="vertical" %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="horizontal-form">
          {% input field="BloodBook.reference_number" style="vertical" %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="horizontal-form">
          {% input field="BloodBook.employer" style="vertical" %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="horizontal-form">
          {% input field="BloodBook.information" style="vertical" %}
        </div>
      </div>
    </div>
    <hr>

    <!-- Blood information -->
    <div class="row">
      <div class="col-md-6">
        <div class="horizontal-form">
          {% input field="BloodBook.blood_number" style="vertical" %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="horizontal-form">
          {% datepicker field="BloodBook.blood_taken" style="vertical" %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="horizontal-form">
          {% datepicker field="BloodBook.blood_date" style="vertical" %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="horizontal-form">
          {% checkbox field="BloodBook.store" style="vertical" %}
        </div>
      </div>
    </div>
    <hr>

    <!-- Assay information -->
    <div class="row">
      <div class="col-md-6">
        <div class="horizontal-form">
          {% input field="BloodBook.assayno" style="vertical" %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="horizontal-form">
          {% datepicker field="BloodBook.assay_date" style="vertical" %}
        </div>
      </div>
    </div>
    <hr>

    <!-- Report information -->
    <div class="row">
      <div class="col-md-6">
        <div class="horizontal-form">
          {% datepicker field="BloodBook.report_dt" style="vertical" %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="horizontal-form">
          {% datepicker field="BloodBook.report_st" style="vertical" %}
        </div>
      </div>
    </div>
    <hr>

    <!-- Test information -->
    <div class="row">
      <div class="col-md-6">
        <div class="horizontal-form">
          {% input field="BloodBook.exposure" style="vertical" %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="horizontal-form">
          {% input field="BloodBook.method" style="vertical" %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="horizontal-form">
          {% input field="BloodBook.antigen_type" style="vertical" %}
        </div>
      </div>
    </div>
  </div>
</div>
