{% load forms %}
{% load rbhl_panels %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    {% radio field="AsthmaDetails.trigger" style="vertical" %}
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    {% textarea field="AsthmaDetails.sensitivities" style="vertical" %}
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      {% add_to_text_button "AsthmaDetails.sensitivities" "Grain/Flour" %}
      {% add_to_text_button "AsthmaDetails.sensitivities" "Latex" %}
      {% add_to_text_button "AsthmaDetails.sensitivities" "Mice" %}
      {% add_to_text_button "AsthmaDetails.sensitivities" "Rats" %}
      {% add_to_text_button "AsthmaDetails.sensitivities" "Amylase" %}
    </div>
  </div>
</div>