{% load forms %}
<div class="row form-row">
  <div class="col-md-6">
      <div class="horizontal-form">
          {% input field="ClinicLog.seen_by" style="vertical" %}
      </div>
  </div>
  <div class="col-md-6">
      <div class="horizontal-form">
          {% datepicker field="ClinicLog.clinic_date" style="vertical" %}
      </div>
  </div>
</div>
<div class="row form-row">
  <div class="col-md-6">
    <div class="horizontal-form">
      {% input field="ClinicLog.clinic_site" style="vertical" %}
    </div>
  </div>
  <div class="col-md-6">
    <div class="horizontal-form">
      {% input field="ClinicLog.referred_to" style="vertical" %}
    </div>
  </div>
</div>
<div class="row"></div>
<hr>

<div class="row">
  <div class="col-md-6">
    <div class="horizontal-form">
      {% select field="ClinicLog.diagnosis_outcome" style="vertical" %}
    </div>
  </div>
  <div class="col-md-6">
    {% checkbox field="ClinicLog.active" style="vertical" %}
  </div>
</div>
<div class="row"></div>
<hr>
<div class="row">
  <div class="col-md-6">
    {% checkbox field="ClinicLog.peak_flow" style="vertical" %}
  </div>
  <div class="col-md-6">
    {% checkbox field="ClinicLog.immunology_oem" style="vertical" %}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    {% checkbox field="ClinicLog.other_rbh_bloods" style="vertical" %}
  </div>
  <div class="col-md-6">
    {% checkbox field="ClinicLog.outstanding_tests_required" style="vertical" %}
  </div>
</div>


