{% load forms %}
{% input field="ClinicLog.seen_by" %}
{% datepicker field="ClinicLog.clinicdate" %}
{% checkbox field="ClinicLog.diagnosis_made" %}
{% checkbox field="ClinicLog.follow_up_planned" %}
{% datepicker field="ClinicLog.date_of_followup" %}

{% checkbox field="ClinicLog.peak_flow" %}
{% checkbox field="ClinicLog.immunology_oem" %}
{% checkbox field="ClinicLog.histamine" %}
{% datepicker field="ClinicLog.histamine_date" %}
{% checkbox field="ClinicLog.histamine_attendance" %}
{% checkbox field="ClinicLog.lung_function" %}
{% datepicker field="ClinicLog.lung_function_date" %}
{% checkbox field="ClinicLog.lung_function_attendance" %}
{% checkbox field="ClinicLog.work_samples" %}
{% checkbox field="ClinicLog.other_hospital_info" %}
{% checkbox field="ClinicLog.other_oh_info" %}
{% checkbox field="ClinicLog.other_gp_info" %}
{% checkbox field="ClinicLog.other_rbh_bloods" %}
