{% load forms %}

<div class="row form-row">
    <div class="col-md-6">
        <div class="horizontal-form">
            {% input field="ClinicLog.seen_by" %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="horizontal-form">
            {% datepicker field="ClinicLog.clinic_date" %}
        </div>
    </div>
</div>
<hr>

<div class="row form-row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-sm-9 col-sm-push-3">
                {% checkbox field="ClinicLog.lung_function" style="vertical" %}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="horizontal-form">
            {% datepicker field="ClinicLog.lung_function_date" label="Date" %}
        </div>
    </div>
    <div class="col-md-4">
        {% checkbox field="ClinicLog.lung_function_attendance" style="vertical" label="Attended" %}
    </div>
</div>


<div class="row form-row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-sm-9 col-sm-push-3">
                {% checkbox field="ClinicLog.histamine" style="vertical" %}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="horizontal-form">
            {% datepicker field="ClinicLog.histamine_date" label="Date" %}
        </div>
    </div>
    <div class="col-md-4">
        {% checkbox field="ClinicLog.histamine_attendance" style="vertical" label="Attended" %}
    </div>
</div>

<div class="row form-row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-sm-9 col-sm-push-3">
                {% checkbox field="ClinicLog.peak_flow" style="vertical" %}
            </div>
        </div>
    </div>
</div>

<div class="row form-row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-sm-9 col-sm-push-3">
                {% checkbox field="ClinicLog.other_rbh_bloods" style="vertical" %}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-sm-9 col-sm-push-3">
                {% checkbox field="ClinicLog.immunology_oem" style="vertical" %}
            </div>
        </div>
    </div>
</div>


<hr>


<div class="row form-row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-sm-9 col-sm-push-3">
                {% checkbox field="ClinicLog.diagnosis_made" style="vertical" %}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-sm-9 col-sm-push-3">
                {% checkbox field="ClinicLog.active" style="vertical" %}
            </div>
        </div>
    </div>
</div>

<div class="row form-row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-sm-9 col-sm-push-3">
                {% checkbox field="ClinicLog.follow_up_planned" style="vertical" %}
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="horizontal-form">
            {% datepicker field="ClinicLog.date_of_followup" label="Follow up date" %}
        </div>
    </div>
</div>