{% load forms %}
<div class="row">
  <div class="col-md-6">
    <div class="horizontal-form">
      {% input field="ContactDetails.phone" style="vertical" %}
    </div>
  </div>
  <div class="col-md-6">
    <div class="horizontal-form">
      {% input field="ContactDetails.mobile" style="vertical" %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="horizontal-form">
      {% input field="ContactDetails.email" style="vertical" %}
    </div>
  </div>
  <div class="col-md-6">
    <div class="horizontal-form">
      {% textarea field="ContactDetails.address" style="vertical" %}
    </div>
  </div>
</div>
