{% load forms %}
<div class="row">
    <div class="col-md-6 ">
        <div class="horizontal-form">
            {% input "autofocus" style="vertical" field="Demographics.hospital_number" label="Hospital number" %}
        </div>
    </div>

    <div class="col-md-6">
        <div class="horizontal-form">
            {% input field="Demographics.nhs_number" label="NHS number" style="vertical" %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="horizontal-form">
            {% input field="Demographics.first_name" label="First name" style="vertical" %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="horizontal-form">
            {% input field="Demographics.surname" style="vertical" %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="horizontal-form">
            {% datepicker field="Demographics.date_of_birth" style="vertical" label="Date of birth" %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="horizontal-form">
            {% select field="Demographics.sex" style="vertical" %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="horizontal-form">
            {% input field="Demographics.height" style="vertical" %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="horizontal-form">
            {% input field="Demographics.post_code" style="vertical" %}
        </div>
    </div>
</div>