{% load forms %}
{% select field="Diagnosis.diagnosis_type" %}

{# diagnosis type is asthma #}
<div class="row" ng-show="editing.diagnosis.diagnosis_type === '{{ models.Diagnosis.ASTHMA }}'">
  {% radio field="Diagnosis.asthma_options" %}
  {% textarea field="Diagnosis.sensitivities" %}
</div>


{# diagnosis type is rhinitis #}
<div class="row"  ng-show="editing.diagnosis.diagnosis_type === '{{ models.Diagnosis.RHINITIS }}'">
  {% radio field="Diagnosis.rhinitis_options" %}
  {% textarea field="Diagnosis.sensitivities" %}
</div>

{# diagnosis type is CHRONIC_AIR_FLOW #}
<div class="row"  ng-show="editing.diagnosis.diagnosis_type === '{{ models.Diagnosis.CHRONIC_AIR_FLOW }}'">
  {% radio field="Diagnosis.condition" lookuplist=models.Diagnosis.chronic_air_flow_types_json %}
  {% checkbox field="Diagnosis.occupational" %}
</div>


{# diagnosis type is MALIGNANCY #}
<div class="row"  ng-show="editing.diagnosis.diagnosis_type === '{{ models.Diagnosis.MALIGNANCY }}'">
  {% input field="Diagnosis.condition" lookuplist=models.Diagnosis.malignancy_conditions_json %}
  {% checkbox field="Diagnosis.occupational" %}
</div>


{# diagnosis type is DIFFUSE #}
<div class="row"  ng-show="editing.diagnosis.diagnosis_type === '{{ models.Diagnosis.DIFFUSE }}'">
  {% input field="Diagnosis.condition" lookuplist=models.Diagnosis.diffuse_lung_disease_json %}
  {% checkbox field="Diagnosis.occupational" %}
</div>

{# diagnosis type is BENIGN #}
<div class="row"  ng-show="editing.diagnosis.diagnosis_type === '{{ models.Diagnosis.BENIGN }}'">
  {% input field="Diagnosis.condition" lookuplist=models.Diagnosis.benign_pleural_disease_json %}
  {% checkbox field="Diagnosis.occupational" %}
</div>

{# diagnosis type is OTHER #}
<div class="row"  ng-show="editing.diagnosis.diagnosis_type === '{{ models.Diagnosis.OTHER }}'">
  {% input field="Diagnosis.condition" lookuplist=models.Diagnosis.other_diagnosis_type_json %}
  {% checkbox field="Diagnosis.occupational" %}
</div>
