{% load forms %}
{% load rbhl_panels %}

<div class="row form-row">
  <div class="col-md-6">
      <div class="horizontal-form">
          {% input field="Employment.employer" lookuplist="employer_list" style="vertical" %}
      </div>
  </div>
  <div class="col-md-6">
      <div class="horizontal-form">
          {% input field="Employment.oh_provider" lookuplist="oh_provider_list" style="vertical" %}
      </div>
  </div>
</div>

<div class="row form-row">
  <div class="col-md-6">
      <div class="horizontal-form">
          {% input field="Employment.job_title" style="vertical" %}
      </div>
  </div>
  <div class="col-md-6">
      <div class="horizontal-form">
          {% input field="Employment.employment_category" style="vertical" %}
      </div>
  </div>
</div>

<div class="row form-row">
  <div class="col-md-6">
    {% checkbox field="Employment.employed_in_suspect_occupation" style="vertical" %}
  </div>
  <div class="col-md-6">
    {% checkbox field="Employment.firefighter" style="vertical" %}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-12">
      {% textarea field="Employment.exposures" style="vertical" %}
    </div>
  </div>
</div>
