{% load forms %}

<div class="row form-row">
  <div class="col-md-6">
      <div class="horizontal-form">
          {% input field="Employment.employer" %}
      </div>
  </div>
  <div class="col-md-6">
      <div class="horizontal-form">
          {% input field="Employment.oh_provider" %}
      </div>
  </div>
</div>

<div class="row form-row">
  <div class="col-md-6">
      <div class="horizontal-form">
          {% input field="Employment.job_title" %}
      </div>
  </div>
  <div class="col-md-6">
      <div class="horizontal-form">
          {% input field="Employment.employment_category" %}
      </div>
  </div>
</div>

<div class="row form-row">
  <div class="col-md-10 col-md-offset-1">
    {% textarea field="Employment.exposures" style="vertical" %}
  </div>
</div>
<div class="row form-row">
  <div class="col-md-2 col-md-offset-1">
    {% checkbox field="Employment.firefighter" style="vertical" %}
  </div>
  <div class="col-md-6">
    {% checkbox field="Employment.employed_in_suspect_occupation" style="vertical" %}
  </div>
</div>
<div class="row"></div>
