{% load forms %}
<div class="row form-row">
  <div class="col-md-4">
      {% checkbox field="OtherInvestigations.ct_chest_scan" %}
  </div>
  <div class="col-md-6">
      {% datepicker field="OtherInvestigations.ct_chest_scan_date" label="Date" %}
  </div>
</div>
<div class="row"></div>
<hr>
<div class="row form-row">
  <div class="col-md-4">
      {% checkbox field="OtherInvestigations.full_lung_function" %}
  </div>
  <div class="col-md-6">
      {% datepicker field="OtherInvestigations.full_lung_function_date" label="Date" %}
  </div>
</div>

