{% load forms %}
<div class="row form-row">
  <div class="col-md-6">
    <div class="horizontal-form">
      {% input field="OtherInvestigations.test" style="vertical" %}
    </div>
  </div>
  <div class="col-md-6">
    <div class="horizontal-form">
      {% datepicker field="OtherInvestigations.date" style="vertical" %}
    </div>
  </div>
</div>
<div class="row"></div>
<div class="row form-row">
  <div class="col-md-12">
    <div class="horizontal-form">
      {% textarea field="OtherInvestigations.comments" style="vertical" %}
    </div>
  </div>
</div>
<div class="row"></div>



