{% load forms %}
{% datepicker  field="PeakFlowDay.date"  %}
{% input  field="PeakFlowDay.treatment_taken"  %}
<div class="peak-flow-grid">
  <div class="row">
    <div class="col-md-4">
      {% input  field="PeakFlowDay.flow_0600" style="vertical" %}
    </div>
    <div class="col-md-4">
      {% input  field="PeakFlowDay.flow_0700" style="vertical" %}
    </div>
    <div class="col-md-4">
      {% input  field="PeakFlowDay.flow_0800" style="vertical" %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      {% input  field="PeakFlowDay.flow_0900" style="vertical" %}
    </div>
    <div class="col-md-4">
      {% input  field="PeakFlowDay.flow_1000" style="vertical" %}
    </div>
    <div class="col-md-4">
      {% input  field="PeakFlowDay.flow_1100" style="vertical" %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      {% input  field="PeakFlowDay.flow_1200" style="vertical" %}
    </div>
    <div class="col-md-4">
      {% input  field="PeakFlowDay.flow_1300" style="vertical" %}
    </div>
    <div class="col-md-4">
      {% input  field="PeakFlowDay.flow_1400" style="vertical" %}
    </div>
  </div>


  <div class="row">
    <div class="col-md-4">
      {% input  field="PeakFlowDay.flow_1500" style="vertical"  %}
    </div>
    <div class="col-md-4">
      {% input  field="PeakFlowDay.flow_1600" style="vertical"  %}
    </div>
    <div class="col-md-4">
      {% input  field="PeakFlowDay.flow_1700" style="vertical"  %}
    </div>
  </div>


  <div class="row">
    <div class="col-md-4">
      {% input  field="PeakFlowDay.flow_1800" style="vertical"  %}
    </div>
    <div class="col-md-4">
      {% input  field="PeakFlowDay.flow_1900" style="vertical"  %}
    </div>
    <div class="col-md-4">
      {% input  field="PeakFlowDay.flow_2000" style="vertical"  %}
    </div>
  </div>


  <div class="row">
    <div class="col-md-4">
      {% input  field="PeakFlowDay.flow_2100" style="vertical"  %}
    </div>
    <div class="col-md-4">
      {% input  field="PeakFlowDay.flow_2200" style="vertical"  %}
    </div>
    <div class="col-md-4">
      {% input  field="PeakFlowDay.flow_2300" style="vertical"  %}
    </div>
  </div>
</div>
{% textarea field="PeakFlowDay.note" %}
{% input field="PeakFlowDay.day_num" %}
{% input field="PeakFlowDay.trial_num" %}
