{% load forms %}
{% load rbhl_forms %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row form-row">
      {% rbhl_checkbox field="RbhlDiagnosticTesting.antihistimines" label_class="col-md-4" %}
      {% rbhl_checkbox field="RbhlDiagnosticTesting.skin_prick_test" label_class="col-md-4" %}
      {% rbhl_checkbox field="RbhlDiagnosticTesting.immunology_oem" label_class="col-md-4" %}
    </div>
    <div class="row form-row">
      {% rbhl_checkbox field="RbhlDiagnosticTesting.specific_skin_prick" label_class="col-md-4" %}
      {% rbhl_radio field="RbhlDiagnosticTesting.atopic" label_class="col-md-1" field_class="col-md-6" %}
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row form-row">
      <div class="col-sm-4">
        {% rbhl_number input field="RbhlDiagnosticTesting.fev_1" style="vertical" label_class=label_class field_class=field_class %}
      </div>
      <div class="col-sm-offset-1 col-sm-4">
        {% rbhl_number field="RbhlDiagnosticTesting.fvc" style="vertical" label_class=label_class field_class=field_class %}
      </div>
    </div>
    <div class="row form-row content-offset-20">
      <div class="col-sm-4">
        {% rbhl_number field="RbhlDiagnosticTesting.fev_1_post_ventolin" style="vertical" label_class=label_class field_class=field_class %}
      </div>
      <div class="col-sm-offset-1 col-sm-4">
        {% rbhl_number field="RbhlDiagnosticTesting.fvc_post_ventolin" style="vertical" label_class=label_class field_class=field_class %}
      </div>
    </div>
    <div class="row form-row content-offset-20">
      <div class="col-sm-4">
        {% rbhl_number field="RbhlDiagnosticTesting.fev_1_percentage_protected"  style="vertical" label_class=label_class field_class=field_class %}
      </div>
      <div class="col-sm-offset-1 col-sm-4">
        {% rbhl_number field="RbhlDiagnosticTesting.fvc_percentage_protected" style="vertical" label_class=label_class field_class=field_class %}
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row form-row">
      {% rbhl_checkbox field="RbhlDiagnosticTesting.ct_chest_scan" label_class="col-sm-3" %}
      <div class="col-sm-4 col-sm-offset-1">
        {% datepicker field="RbhlDiagnosticTesting.ct_chest_scan_date" style="vertical" %}
      </div>
    </div>
    <div class="row"></div>
    <div class="row form-row">
      {% rbhl_checkbox field="RbhlDiagnosticTesting.full_lung_function" label_class="col-sm-3"  %}
      <div class="col-sm-4 col-sm-offset-1">
        {% datepicker field="RbhlDiagnosticTesting.full_lung_function_date" style="vertical" %}
      </div>
    </div>
  </div>
</div>
