{% load forms %}
<div class="row">
  <div class="col-md-4">
    {% input field="Referral.referrer_title" style="vertical" %}
  </div>
  <div class="col-md-7 col-md-offset-1">
    {% input field="Referral.referrer_name" style="vertical" %}
  </div>
</div>
{% datepicker field="Referral.date_of_referral" style="vertical" %}
{% datepicker field="Referral.date_refferal_received" style="vertical" %}
{% datepicker field="Referral.date_first_contact" style="vertical" %}
{% textarea field="Referral.comments" style="vertical" %}
