{% load forms %}
<div class="row">
  <div class="col-md-6">
    <div class="horizontal-form">
      {% input field="Referral.referrer_name" lookuplist="rbhreferrer_list" style="vertical" %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="horizontal-form">
      {% datepicker field="Referral.date_of_referral" style="vertical" %}
    </div>
  </div>
  <div class="col-md-6">
    <div class="horizontal-form">
      {% datepicker field="Referral.date_referral_received" style="vertical" %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="horizontal-form">
      {% datepicker field="Referral.date_first_appointment" style="vertical" %}
    </div>
  </div>
  <div class="col-md-6">
    <div class="horizontal-form">
      {% checkbox field="Referral.attendance" style="vertical" %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="horizontal-form">
      {% datepicker field="Referral.date_first_contact" style="vertical" %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    {% checkbox field="Referral.firefighter" style="vertical" %}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="horizontal-form">
      {% textarea field="Referral.comments" style="vertical" %}
    </div>
  </div>
</div>