{% load forms %}
{% load rbhl_panels %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    {% radio field="Rhinitis.trigger" style="vertical" %}
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    {% textarea field="Rhinitis.sensitivities" style="vertical" %}
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      {% add_to_text_button "Rhinitis.sensitivities" "Grain/Flour" %}
      {% add_to_text_button "Rhinitis.sensitivities" "Latex" %}
      {% add_to_text_button "Rhinitis.sensitivities" "Mice" %}
      {% add_to_text_button "Rhinitis.sensitivities" "Rats" %}
      {% add_to_text_button "Rhinitis.sensitivities" "Alpha amylase" %}
    </div>
  </div>
</div>