{% load forms %}
<div class="row form-row">
  <div class="col-md-4">
    <div class="horizontal-form">
      {% input field="SkinPrickTest.substance" style="vertical" %}
    </div>
  </div>
  <div class="col-md-4">
    <div class="horizontal-form">
      {% input field="SkinPrickTest.wheal" style="vertical" %}
    </div>
  </div>
  <div class="col-md-4">
    <div class="horizontal-form">
      {% datepicker field="SkinPrickTest.date" style="vertical" %}
    </div>
  </div>
</div>
<div class="row"></div>
<div class="row form-row">
  <div class="col-md-4 col-md-offset-4">
    {% checkbox field="SkinPrickTest.antihistamines" style="vertical" %}
  </div>
</div>
