{% load forms %}
<div class="row form-row">
  <div class="col-md-4">
    <div class="horizontal-form">
      {% input field="SpecificSkinPrickTest.spt" style="vertical" %}
    </div>
  </div>
  <div class="col-md-4">
    <div class="horizontal-form">
      {% input field="SpecificSkinPrickTest.wheal" style="vertical" %}
    </div>
  </div>
  <div class="col-md-4">
    <div class="horizontal-form">
      {% datepicker field="SpecificSkinPrickTest.test_date" style="vertical" %}
    </div>
  </div>
</div>
<div class="row"></div>
<div class="row form-row">
  <div class="col-md-4 col-md-offset-4">
    {% checkbox field="SpecificSkinPrickTest.antihistimines" style="vertical" %}
  </div>
</div>
