{% extends 'modals/diagnosis_base.html' %}
{% load forms %}
{% load rbhl_panels %}
{% block title %}
<i class="fa fa-stethoscope"></i>
{{ models.Diagnosis.DIFFUSE_LUNG_DISEASE }} {{ block.super }}
{% endblock title %}
{% block diagnosis_form %}
<div ng-init="editing.diagnosis.category = '{{ models.Diagnosis.DIFFUSE_LUNG_DISEASE }}'">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="horizontal-form">
            {% datepicker field="Diagnosis.date" style="vertical" %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {% checkbox field="Diagnosis.occupational" style="vertical" %}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="horizontal-form">
        {% select_or_other field="Diagnosis.condition" lookuplist=models.Diagnosis.CONDITION_OPTIONS.diffuse_lung_disease style="vertical" %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
