{% extends 'base_templates/form_modal_base.html' %}
{% block title %}
  {{ models.Diagnosis.NAD }} {{ block.super }}
{% endblock title %}
{% block form %}
<div class="row" ng-init="editing.diagnosis.category = '{{ models.Diagnosis.NAD }}'">
  <div ng-show="!item.id" class="col-md-12">
    <p class="lead text-center">
      Record the patient as
    </p>
    <p class="text-center">
      <button check-form="form" style="padding-left: 30px; padding-right: 30px;" class="btn btn-primary ng-isolate-scope" ng-click="form.$valid && save('save')">
        NAD
      </button>
    </p>
  </div>
  <div ng-show="item.id" class="col-md-12">
    <p class="lead text-center">
      Recorded the patient as NAD
    </p>
  </div>
</div>
{% endblock form %}
{% block modal_save %}{% endblock %}