{% extends 'modals/diagnosis_base.html' %}}
{% load forms %}
{% block title %}
<i class="fa fa-stethoscope"></i>
{{ models.Diagnosis.OTHER }} {{ block.super }}
{% endblock title %}
{% block diagnosis_form %}
<div ng-init="editing.diagnosis.category = '{{ models.Diagnosis.OTHER }}'">
  <div class="row form-row">
    <div class="col-md-8">
      <div class="horizontal-form">
        {% input field="Diagnosis.condition" lookuplist=models.Diagnosis.CONDITION_OPTIONS.other style="vertical" %}
      </div>
    </div>
    <div class="col-md-4">
      {% checkbox field="Diagnosis.occupational" style="vertical" %}
    </div>
  </div>
</div>
{% endblock %}