<div class="panel panel-default record-panel">
  <div class="panel-heading">
    <h3>
      <i class="fa fa-stethoscope"></i> Investigations
      <i
        ng-click="showInvestigations=true"
        class="fa fa-plus-circle edit pull-right pointer"
      >
      </i>
    </h3>
  </div>
  <div ng-show="
    showInvestigations ||
    episode.{{ models.Spirometry.get_api_name }}.length ||
    episode.{{ models.SkinPrickTest.get_api_name }}.length ||
    episode.{{ models.BronchialTest.get_api_name }}.length ||
    episode.{{ models.RoutineSPT.get_api_name }}.length ||
    episode.{{ models.OtherInvestigations.get_api_name }}.length"
  class="panel-body">
    <div ng-show="showInvestigations" class="row">
      <div class="col-sm-11">
        {% include "partials/panels/add_button.html" with subrecord=models.Spirometry %}
        {% include "partials/panels/add_button.html" with subrecord=models.SkinPrickTest %}
        {% include "partials/panels/add_button.html" with subrecord=models.BronchialTest %}
        {% include "partials/panels/add_button.html" with subrecord=models.RoutineSPT %}
        {% include "partials/panels/add_button.html" with subrecord=models.OtherInvestigations %}
      </div>
      <div class="col-sm-1">
        <i
          ng-click="showInvestigations=false"
          class="fa fa-minus-circle edit pull-right pointer"
        >
        </i>
      </div>
    </div>
    <div ng-show="showInvestigations" class="row">
      <div class="col-md-12">
        <hr />
      </div>
    </div>
    <ul class="list-group">
      {% include "partials/panels/rows.html" with subrecord=models.Spirometry %}
      {% include "partials/panels/rows.html" with subrecord=models.SkinPrickTest show_hr=True %}
      {% include "partials/panels/rows.html" with subrecord=models.BronchialTest show_hr=True %}
      {% include "partials/panels/rows.html" with subrecord=models.RoutineSPT show_hr=True %}
      {% include "partials/panels/rows.html" with subrecord=models.OtherInvestigations show_hr=True %}
    </ul>
  </div>
</div>
