<li class="diagnosis-row" ng-show="episode.{{ subrecord.get_api_name }}.length" style="border: none" class="list-group-item">
  <div class="row">
    <div class="col-xs-10">
      <hr />
    </div>
  </div>
  <div class="row"  ng-repeat="item in episode.{{ subrecord.get_api_name }}">
    <div class="col-xs-10">
      {% include subrecord.get_detail_template %}
    </div>
    <div class="col-xs-2">
      <i
        class="fa fa-pencil edit pull-right pointer" ng-click="episode.recordEditor.editItem('{{ subrecord.get_api_name }}', item)"
      ></i>
    </div>
  </div>
</li>