<li ng-show="episode.{{ subrecord.get_api_name }}.length" style="border: none" class="list-group-item">
  <div class="row">
    <div class="col-md-10">
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5>
        <strong style="text-transform: uppercase;">
          {{ subrecord.get_display_name }}
        </strong>
      </h5>
    </div>
  </div>
  <div class="row"  ng-repeat="item in episode.{{ subrecord.get_api_name }}">
    <div class="col-md-6 col-md-offset-3">
      {% include subrecord.get_detail_template %}
    </div>
    <div class="col-md-1 content-offset-2">
      <i
        class="fa fa-pencil edit pull-right pointer" ng-click="episode.recordEditor.editItem('{{ subrecord.get_api_name }}', item)"
      ></i>
    </div>
  </div>
</li>