{% load panels %}
{% load forms %}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-9">
            <h3>
              <i class="fa fa-stethoscope"></i> Investigations
            </h3>
          </div>
        </div>
      </div>
      <div class="panel-body">
        {% include "partials/panels/add_button.html" with subrecord=models.Spirometry %}
        {% include "partials/panels/add_button.html" with subrecord=models.RoutineSPT %}
        {% include "partials/panels/add_button.html" with subrecord=models.SpecificSkinPrickTest %}
        {% include "partials/panels/add_button.html" with subrecord=models.BronchialTest %}
        {% include "partials/panels/add_button.html" with subrecord=models.OtherInvestigations %}
        <ul class="list-group">
          {% include "partials/panels/test_row.html" with subrecord=models.Spirometry %}
          {% include "partials/panels/test_row.html" with subrecord=models.RoutineSPT show_hr=True %}
          {% include "partials/panels/test_row.html" with subrecord=models.SpecificSkinPrickTest show_hr=True %}
          {% include "partials/panels/test_row.html" with subrecord=models.BronchialTest show_hr=True %}
          {% include "partials/panels/test_row.html" with subrecord=models.OtherInvestigations show_hr=True %}
        </ul>
      </div>
    </div>
  </div>
</div>