{% load rbhl_panels %}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-9">
            <h3>
              <i class="fa fa-stethoscope"></i> Investigations
            </h3>
          </div>
        </div>
      </div>
      <div class="panel-body">
        {% add_button models.Spirometry %}
        {% add_button models.SkinPrickTest link="/pathway/#/skin_prick_test/[[ patient.id ]]/[[ episode.id ]]" %}
        {% add_button models.BronchialTest %}
        {% add_button models.OtherInvestigations %}
        <ul class="list-group">
          {% test_row subrecord=models.Spirometry %}
          {% include "partials/skin_prick_test_row.html" %}
          {% test_row subrecord=models.BronchialTest %}
          {% test_row subrecord=models.OtherInvestigations %}
        </ul>
      </div>
    </div>
  </div>
</div>