{% load rbhl_panels %}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-9">
            <h3>
              <i class="fa fa-stethoscope"></i> Investigations
            </h3>
          </div>
        </div>
      </div>
      <div class="panel-body">
        {% include "partials/panels/add_button.html" with subrecord=models.Spirometry %}
        {% include "partials/panels/add_button.html" with subrecord=models.SkinPrickTest %}
        {% include "partials/panels/add_button.html" with subrecord=models.RoutineSPT %}
        {% include "partials/panels/add_button.html" with subrecord=models.SpecificSkinPrickTest %}
        {% include "partials/panels/add_button.html" with subrecord=models.BronchialTest %}
        {% include "partials/panels/add_button.html" with subrecord=models.OtherInvestigations %}
        <ul class="list-group">
          {% test_row subrecord=models.Spirometry %}
          {% test_row subrecord=models.SkinPrickTest date_field="date" %}
          {% test_row subrecord=models.RoutineSPT %}
          {% test_row subrecord=models.SpecificSkinPrickTest %}
          {% test_row subrecord=models.BronchialTest %}
          {% test_row subrecord=models.OtherInvestigations %}
        </ul>
      </div>
    </div>
  </div>
</div>