{% load panels %}
<div class="row">
  <div class="col-md-6">
    {% record_panel models.Demographics full_width=True %}
  </div>
  <div class="col-md-6">
    {% record_panel models.ContactDetails full_width=True %}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {% record_panel models.Referral full_width=True %}
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    {% record_panel models.Employment full_width=True %}
  </div>
  <div class="col-md-6">
    {% record_panel models.SocialHistory full_width=True %}
  </div>
</div>
<h2 class="text-center content-offset">Clinic details</h2>
<div class="row">
  <div class="col-md-12">
    {% record_panel models.RbhlDiagnosticTesting full_width=True %}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    {% record_panel models.Asthma angular_filter="item.occupational_caused_by_sensitisation || item.exacerbated_by_work || item.irritant_induced || item.non_occupational || item.other" %}
  </div>
  <div class="col-md-6">
    {% record_panel models.Rhinitis angular_filter="item.occupational_caused_by_sensitisation || item.exacerbated_by_work || item.non_occupational || item.other" %}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    {% record_panel models.ChronicAirFlowLimitation angular_filter="item.copd || item.emphysema" %}
  </div>
  <div class="col-md-6">
    {% record_panel models.Disease angular_filter="item.malignancy || item.diffuse_lung_disease || item.benign_pleural_disease" %}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    {% record_panel models.OtherDiagnostic angular_filter="item.other_diagnosis || item.nad" %}
  </div>
  <div class="col-md-6">
    {% record_panel models.Sensitivities angular_filter="item.sensitivities" %}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {% record_panel models.ClinicLog full_width=True %}
    {% record_panel models.ActionLog %}
    {% record_panel models.Letter %}
  </div>
</div>

{% include 'partials/peak_flow_table.html' %}

{% comment %}
<h2 class="text-center">Old Unconverted Details</h2>
<div class="row">
  <div class="col-md-12">
    {% record_panel models.ActionLog %}
  </div>
</div>
{% endcomment %}
