{% load panels %}
<div class="row">
  <div class="col-md-6">
    {% record_panel models.Demographics %}
  </div>
  <div class="col-md-6">
    {% record_panel models.ContactDetails %}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {% record_panel models.Referral full_width=True %}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    {% record_panel models.Employment full_width=True %}
  </div>
  <div class="col-md-6">
    {% record_panel models.SocialHistory full_width=True %}
  </div>
</div>

<h2 class="text-center content-offset">Clinic details</h2>
<div class="row">
  <div class="col-md-12">
    {% record_panel models.ClinicLog full_width=True %}
    {% record_panel models.ActionLog %}
    {% record_panel models.Letter %}
  </div>
</div>

{% include 'partials/peak_flow_table.html' %}
{% include 'partials/diagnosis_panel.html' %}





  <h2>Asthma Database</h2>


  <div class="row">
    <div class="col-md-6">
      {% record_panel models.GP %}
    </div>
    <div class="col-md-6">
      {% record_panel models.Address %}
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      {% record_panel models.Details %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% record_panel models.SuspectOccupationalCategory %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% record_panel models.DiagnosticTesting %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% record_panel models.RoutineSPT %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% record_panel models.LegacySkinPrickTest %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% record_panel models.LegacyBronchialTest %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% record_panel models.DiagnosticOutcome %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% record_panel models.DiagnosticAsthma %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% record_panel models.DiagnosticRhinitis %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% record_panel models.DiagnosticOther %}
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      {% record_panel models.OtherFields %}
    </div>
  </div>




{% comment %}
<h2 class="text-center">Old Unconverted Details</h2>
<div class="row">
  <div class="col-md-12">
    {% record_panel models.ActionLog %}
  </div>
</div>
{% endcomment %}
