{% load panels %}
<div class="row">
  <div class="col-md-6">
    {% record_panel models.Demographics %}
  </div>
  <div class="col-md-6">
    {% record_panel models.Referral %}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    {% record_panel models.ContactDetails %}
  </div>
  <div class="col-md-6">
    {% record_panel models.Employment %}
  </div>
</div>

<h2 class="text-center content-offset">Clinic Details</h2>
<div class="row">
  <div class="col-md-12">
    {% record_panel models.ClinicLog full_width=True %}
    {% record_panel models.ActionLog %}
    {% record_panel models.Letter %}
  </div>
</div>

{% comment %}
{% include 'partials/peak_flow_table.html' %}


<h2 class="text-center">Old Unconverted Details</h2>
<div class="row">
  <div class="col-md-12">
    {% record_panel models.ActionLog %}
  </div>
</div>
{% endcomment %}
